@{
    ViewBag.Title = "Credential DashBoard";
}
@section Scripts {
    <script src="~/angular.js/dashboardcredential.0.1.js"></script>
}

<hr />

<div ng-controller="CredentialCtlr" class="container">
    <h2>Credential DashBoard</h2>
    <MyAntiforgeryToken></MyAntiforgeryToken>

    <div mycssclass="@MyCSSClassName.RowInForm">
        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup2">
            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Login User Name</span>
            <input id="CredentialsInfo.LoginUserName" name="CredentialsInfo.LoginUserName" type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="..." ng-model="CredentialsInfo.LoginUserName" readonly />
        </div>
        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Login Email ID</span>
            <input id="CredentialsInfo.LoginEmailID" name="CredentialsInfo.LoginEmailID" type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="...." ng-model="CredentialsInfo.LoginEmailID" readonly />
        </div>
        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup2">
            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Login Phone No</span>
            <input id="CredentialsInfo.LoginPhoneNo" name="CredentialsInfo.LoginPhoneNo" type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="...." ng-model="CredentialsInfo.LoginPhoneNo" readonly />
        </div>
        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Change Password</span>
            <input id="ChangedKey" name="ChangedKey" type="password" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="******" value="ChangedKey" ng-model="ChangedKey" ng-disabled="ng_readOnly" minlength="6" maxlength="50" />
            <MyValidationSpan formname="myform" fieldname="ChangedKey" minlength="6" maxlength="50"></MyValidationSpan>
        </div>
        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup1">
            <input type="button" mycssclass="@MyCSSClassName.RowInForm_FormGroupSubmit_btn" value="Changed" ng-click="PostChangedKey();" ng-disabled="!ChangedKey.length>0" minlength="6" maxlength="50" />
        </div>
    </div>
</div>











