@{
    ViewBag.Title = "Credential DashBoard";
}
@section Scripts {
    <script src="~/angular.js/dashboardcredential.0.1.js"></script>
}

<hr />

<div ng-controller="CredentialCtlr" class="container">
    <h2>Credential DashBoard</h2>

    <form name="myform" role="form" ng-submit="PostChangedKey(); myform.$setPristine();" novalidate>

        <MyAntiforgeryToken></MyAntiforgeryToken>
 
        <MyFieldSet legendtext="Credentials">

            <div mycssclass="@MyCSSClassName.RowInForm">
                <div mycssclass="@MyCSSClassName.RowInForm_FormGroup4">
                    <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Login User Name</span>
                    <input id="CredentialsInfo.LoginUserName" name="CredentialsInfo.LoginUserName" type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="..." ng-model="CredentialsInfo.LoginUserName" readonly />
                </div>
                <div mycssclass="@MyCSSClassName.RowInForm_FormGroup4">
                    <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Login Email ID</span>
                    <input id="CredentialsInfo.LoginEmailID" name="CredentialsInfo.LoginEmailID" type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="...." ng-model="CredentialsInfo.LoginEmailID" readonly />
                </div>
                <div mycssclass="@MyCSSClassName.RowInForm_FormGroup4">
                    <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Login Phone No</span>
                    <input id="CredentialsInfo.LoginPhoneNo" name="CredentialsInfo.LoginPhoneNo" type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="...." ng-model="CredentialsInfo.LoginPhoneNo" readonly />
                </div>
            </div>
            <div mycssclass="@MyCSSClassName.RowInForm">
                <div mycssclass="@MyCSSClassName.RowInForm_FormGroup4">
                    <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">New Password</span>                    
                    <div class="input-group">
                        <input id="ChangedKey1" name="ChangedKey1" type="password" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="******" value="ChangedKey1" ng-model="ChangedKey1" ng-disabled="ng_readOnly" minlength="6" maxlength="50" required />
                        <div class="input-group-b">
                            <button type="button" class="btn" ng-click="ChangedKeyEye(1);" tabindex="-1"><i id="ChangedKey1Eye" class="fa fa-eye-slash"></i></button>
                        </div>
                    </div>
                    <MyValidationSpan formname="myform" fieldname="ChangedKey" minlength="6" maxlength="50" required="true"></MyValidationSpan>
                </div>
                <div mycssclass="@MyCSSClassName.RowInForm_FormGroup4">
                    <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Repeat New Password</span>
                    <div class="input-group">
                        <input id="ChangedKey2" name="ChangedKey2" type="password" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="******" value="ChangedKey2" ng-model="ChangedKey2" ng-disabled="ng_readOnly" minlength="6" maxlength="50" required />
                        <div class="input-group-b">
                            <button type="button" class="btn" ng-click="ChangedKeyEye(2);" tabindex="-1"><i id="ChangedKey2Eye" class="fa fa-eye-slash"></i></button>
                        </div>
                    </div>                    
                    <MyValidationSpan formname="myform" fieldname="ChangedKey2" minlength="6" maxlength="50" required="true"></MyValidationSpan>
                    <span ng-show="myform['ChangedKey1'].$viewValue !== myform['ChangedKey2'].$viewValue && myform['ChangedKey2'].$touched" style="color:red;">Passwords do not match.</span>
                </div>                 
            </div>

            <div mycssclass="@MyCSSClassName.RowInForm">
                <div mycssclass="@MyCSSClassName.RowInForm_FormGroupSubmit">
                    <input type="submit" value="Change Password" mycssclass="@MyCSSClassName.RowInForm_FormGroupSubmit_btn" ng-disabled="myform.$invalid || ChangedKey1!=ChangedKey2" />
                </div>
            </div>

        </MyFieldSet>
    </form>

  
</div>











