@{
    ViewBag.Title = "Loan Type";
}
@section Scripts {

    <script src="~/angular.js/Angular-WPT/Organization/loantypeindex.0.1.js"></script>
}
<div ng-controller="LoanTypeIndexCtlr" class="container">
    <div id="LoanTypeIndexCtlr">
        <MyViewName>Loan Type</MyViewName>
        @*-----------------------------------this is entry panel-----------------------------*@
        <MyButton operation="@MyButtonOperation.Add"></MyButton>
        <div ng-hide="ng_entryPanelHide">
            <form name="myform" role="form" ng-submit="PostRow(); myform.$setPristine();" novalidate>

                <MyAntiforgeryToken></MyAntiforgeryToken>
                @Html.Hidden("ID", "{{tbl_WPT_LoanType.ID}}")

                <MyFieldSet legendtext="Entry Form">
                    <div mycssclass="@MyCSSClassName.RowInForm">
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup4">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Loan Type</span>
                            <input type="text" id="tbl_WPT_LoanType.LoanType" name="tbl_WPT_LoanType.LoanType" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="LoanType" value="tbl_WPT_LoanType.LoanType" ng-model="tbl_WPT_LoanType.LoanType" ng-disabled="ng_readOnly" minlength="3" maxlength="50" required />
                            <MyValidationSpan formname="myform" fieldname="tbl_WPT_LoanType.LoanType" required="true" minlength="3" maxlength="50"></MyValidationSpan>
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup4">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Prefix</span>
                            <input type="text" id="tbl_WPT_LoanType.Prefix" name="tbl_WPT_LoanType.Prefix" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="Prefix" value="tbl_WPT_LoanType.Prefix" ng-model="tbl_WPT_LoanType.Prefix" ng-disabled="ng_readOnly" minlength="1" maxlength="2" required />
                            <MyValidationSpan formname="myform" fieldname="tbl_WPT_LoanType.Prefix" required="true" minlength="3" maxlength="50"></MyValidationSpan>
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup4">

                        </div>
                    </div>

                    <div mycssclass="@MyCSSClassName.RowInForm">
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroupSubmit">
                            <input type="submit" value="{{ng_entryPanelSubmitBtnText}}" mycssclass="@MyCSSClassName.RowInForm_FormGroupSubmit_btn" ng-disabled="myform.$invalid || ng_DisabledBtnAll" />
                        </div>
                    </div>

                    <MyFieldSet legendtext="User" child="true">
                        <div mycssclass="@MyCSSClassName.RowInForm">
                            <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                                <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Created by</span>
                                <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_WPT_LoanType.CreatedBy}}" ng-model="tbl_WPT_LoanType.CreatedBy" disabled />
                            </div>
                            <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                                <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Created Date</span>
                                <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_WPT_LoanType.CreatedDate | date :  'dd-MMM-yyyy HH:mm:ss a'}}" ng-model="tbl_WPT_LoanType.CreatedDate" disabled />
                            </div>
                            <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                                <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Modified by</span>
                                <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_WPT_LoanType.ModifiedBy}}" ng-model="tbl_WPT_LoanType.ModifiedBy" disabled />
                            </div>
                            <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                                <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Modified Date</span>
                                <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_WPT_LoanType.ModifiedDate | date :  'dd-MMM-yyyy HH:mm:ss a'}}" ng-model="tbl_WPT_LoanType.ModifiedDate" disabled />
                            </div>
                        </div>
                    </MyFieldSet>
                </MyFieldSet>
            </form>
        </div>

        @*-----------------------------------this is data list view-----------------------------*@
        <div mycssclass="@MyCSSClassName.Table_Div">
            <table mycssclass="@MyCSSClassName.Table_Table">
                <tr>
                    <th>
                        Loan Type
                    </th>
                    <th>
                        Prefix
                    </th>
                    <th></th>
                </tr>
                <tr ng-repeat="itm in pageddata.Data">
                    <td>
                        {{itm.LoanType}}
                    </td>
                    <td>
                        {{itm.Prefix}}
                    </td>
                    <td>
                        <div mycssclass="@MyCSSClassName.Table_OptColDiv">
                            <MyButton operation="@MyButtonOperation.View" ng-click="GetRow(itm.ID,'View')"></MyButton>|
                            <MyButton operation="@MyButtonOperation.Edit" ng-click="GetRow(itm.ID,'Edit')"></MyButton>|
                            <MyButton operation="@MyButtonOperation.Delete" ng-click="GetRow(itm.ID,'Delete')"></MyButton>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div mycssclass="@MyCSSClassName.Table_NavDiv">
                            <MyButton operation="@MyButtonOperation.first" ng-click="pageNavigation('first')" ng-disabled="ng_DisabledBtnPageF"></MyButton>
                            <MyButton operation="@MyButtonOperation.back" ng-click="pageNavigation('back')" ng-disabled="ng_DisabledBtnPageP"></MyButton>
                            <MyButton operation="@MyButtonOperation.RecordNo" ng-click="pageNavigation('back')" ng-disabled="ng_DisabledBtnPageP">{{pageddata.CurrentPage}} of {{pageddata.TotalPages}}</MyButton>
                            <MyButton operation="@MyButtonOperation.next" ng-click="pageNavigation('next')" ng-disabled="ng_DisabledBtnPageN"></MyButton>
                            <MyButton operation="@MyButtonOperation.last" ng-click="pageNavigation('last')" ng-disabled="ng_DisabledBtnPageL"></MyButton>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        @*-----------------------------------this is search view-----------------------------*@
        @await Html.PartialAsync("_Filter", "LoanTypeIndexCtlr")
    </div>
</div>




