<MyViewName>
    <a href="" ng-click="DivHideShow(null,null,'AcPolicyWHTaxOnPurchaseDetailCtlr','AcPolicyWHTaxOnPurchaseMasterCtlr', this);">Policy WHTax On Purchase</a>
    <MyViewName child="true"> Linked Accounts</MyViewName>
</MyViewName>

<div>
    <div>
        <div mycssclass="@MyCSSClassName.Table_DivSubPage">
            <table mycssclass="@MyCSSClassName.Table_TableSubPage">
                <tr>
                    <th>
                        Policy Name
                    </th>
                    <th>
                        WHTax %
                    </th>
                </tr>
                <tr>
                    <td>
                        {{MasterObject.WHTaxName}}
                    </td>
                    <td>
                        {{MasterObject.WHTaxPer}}
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                    </td>
                </tr>
            </table>
        </div>
    </div>

    @*-----------------------------------this is entry panel-----------------------------*@


    @*-----------------------------------this is data list view-----------------------------*@
    <div mycssclass="@MyCSSClassName.Table_Div">
        <table mycssclass="@MyCSSClassName.Table_Table">
            <tr>
                <th>
                    Account / Parent Name
                </th>
                <th>
                    Transactional
                </th>
                <th>
                    Type
                </th>
            </tr>
            <tr ng-repeat="itm in pageddata.Data">
                <td>
                    <b>&diams;)<text ng-bind="itm.AccountName"></text></b>
                    <br />
                    {{itm.ParentName}}
                </td>
                <td>
                    {{itm.IsTransactional ? 'Child' : 'Parent'}}
                </td>
                <td>
                    {{itm.FK_tbl_Ac_ChartOfAccounts_Type_IDName}}
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div mycssclass="@MyCSSClassName.Table_NavDiv">
                        <MyButton operation="@MyButtonOperation.first" ng-click="pageNavigation('first')" ng-disabled="ng_DisabledBtnPageF"></MyButton>
                        <MyButton operation="@MyButtonOperation.back" ng-click="pageNavigation('back')" ng-disabled="ng_DisabledBtnPageP"></MyButton>
                        <MyButton operation="@MyButtonOperation.RecordNo" ng-click="pageNavigation('back')" ng-disabled="ng_DisabledBtnPageP">{{pageddata.CurrentPage}} of {{pageddata.TotalPages}}</MyButton>
                        <MyButton operation="@MyButtonOperation.next" ng-click="pageNavigation('next')" ng-disabled="ng_DisabledBtnPageN"></MyButton>
                        <MyButton operation="@MyButtonOperation.last" ng-click="pageNavigation('last')" ng-disabled="ng_DisabledBtnPageL"></MyButton>
                    </div>
                </td>
            </tr>

        </table>
    </div>
    @*-----------------------------------this is search view-----------------------------*@
    @await Html.PartialAsync("_Filter", "AcPolicyWHTaxOnPurchaseDetailCtlr")

</div>
