<MyViewName>
    <MyViewName><a href="" ng-click="DivHideShow(null,null,'FiscalYearCostingDetailCtlr','FiscalYearIndexCtlr', this.$parent);">Fiscal Year</a></MyViewName>
    <a href="" ng-click="DivHideShow(null,null,'FiscalYearCostingDetailCtlr','FiscalYearCostingMasterCtlr', this);">Closing Master</a>
    <MyViewName child="true"> Closing Detail</MyViewName>
</MyViewName>

<div>
    <div>
        <div mycssclass="@MyCSSClassName.Table_DivSubPage">
            <table mycssclass="@MyCSSClassName.Table_TableSubPage">
                <tr>
                    <th>
                        Period Start
                    </th>
                    <th>
                        Period End
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Closing Entry Type
                    </th>
                    <th>
                        Permanent Account
                    </th>
                </tr>
                <tr>
                    <td>
                        {{MasterObject.MasterObject.PeriodStart}}
                    </td>
                    <td>
                        {{MasterObject.MasterObject.PeriodEnd}}
                    </td>
                    <td style="background-color:lightsteelblue;">
                        <b>{{MasterObject.MasterObject.IsClosed ? 'Closed' : 'Open'}}</b>
                    </td>
                    <td>
                        {{MasterObject.FK_tbl_Ac_FiscalYear_ClosingEntryType_IDName}}
                    </td>
                    <td>
                        {{MasterObject.FK_tbl_Ac_ChartOfAccounts_IDName}}
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                    </td>
                </tr>
            </table>
        </div>
    </div>

    @*-----------------------------------this is entry panel-----------------------------*@

    <MyButton operation="@MyButtonOperation.Add"></MyButton>
    <div ng-hide="ng_entryPanelHide">
        <form name="myform" role="form" ng-submit="PostRow(); myform.$setPristine();" novalidate="">
            @Html.Hidden("tbl_Ac_FiscalYear_ClosingDetail.ID", "{{tbl_Ac_FiscalYear_ClosingDetail.ID}}")
            @Html.Hidden("tbl_Ac_FiscalYear_ClosingDetail.FK_tbl_Ac_FiscalYear_ClosingMaster_ID", "{{tbl_Ac_FiscalYear_ClosingDetail.FK_tbl_Ac_FiscalYear_ClosingMaster_ID}}")
            <MyFieldSet legendtext="Entry Form">

                <div mycssclass="@MyCSSClassName.RowInForm">
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup4">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Temporary Account</span>
                        <MyButtonModal fieldname="tbl_Ac_FiscalYear_ClosingDetail.FK_tbl_Ac_ChartOfAccounts_IDName" ng-click="OpenCOASearchModalGeneral('ClosingDetail', MasterObject.FK_tbl_Ac_FiscalYear_ClosingEntryType_ID, 'tbl_Ac_FiscalYear_ClosingDetail.FK_tbl_Ac_ChartOfAccounts_IDName', COASearch_CtrlFunction_Ref_InvokeOnSelection);myform['tbl_Ac_FiscalYear_ClosingDetail.FK_tbl_Ac_ChartOfAccounts_IDName'].$dirty=true;" ng-disabled="ng_readOnly" required></MyButtonModal>
                        <MyValidationSpan formname="myform" fieldname="tbl_Ac_FiscalYear_ClosingDetail.FK_tbl_Ac_ChartOfAccounts_IDName" required="true"></MyValidationSpan>
                    </div>
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup2">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Debit</span>
                        <input id="tbl_Ac_FiscalYear_ClosingDetail.Debit" name="tbl_Ac_FiscalYear_ClosingDetail.Debit" type="number" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" ng-model="tbl_Ac_FiscalYear_ClosingDetail.Debit" ng-change="OnlyDebitCredit('Debit');" ng-disabled="MasterObject.FK_tbl_Ac_FiscalYear_ClosingEntryType_ID !== 3" min="0" required />
                        <MyValidationSpan formname="myform" fieldname="tbl_Ac_FiscalYear_ClosingDetail.Debit" required="true"></MyValidationSpan>
                    </div>
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup2">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Credit</span>
                        <input id="tbl_Ac_FiscalYear_ClosingDetail.Credit" name="tbl_Ac_FiscalYear_ClosingDetail.Credit" type="number" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" ng-model="tbl_Ac_FiscalYear_ClosingDetail.Credit" ng-change="OnlyDebitCredit('Credit');" ng-disabled="MasterObject.FK_tbl_Ac_FiscalYear_ClosingEntryType_ID !== 3" min="0" required />
                        <MyValidationSpan formname="myform" fieldname="tbl_Ac_FiscalYear_ClosingDetail.Credit" required="true"></MyValidationSpan>
                    </div>

                </div>
    

                <div mycssclass="@MyCSSClassName.RowInForm">
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroupSubmit">
                        <input type="submit" value="{{ng_entryPanelSubmitBtnText}}" mycssclass="@MyCSSClassName.RowInForm_FormGroupSubmit_btn" ng-disabled="myform.$invalid || ng_DisabledBtnAll" />
                    </div>
                </div>

                <MyFieldSet legendtext="User" child="true">
                    <div mycssclass="@MyCSSClassName.RowInForm">
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Created by</span>
                            <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_Ac_FiscalYear_ClosingDetail.CreatedBy}}" ng-model="tbl_Ac_FiscalYear_ClosingDetail.CreatedBy" disabled />
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Created Date</span>
                            <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_Ac_FiscalYear_ClosingDetail.CreatedDate | date :  'dd-MMM-yyyy HH:mm:ss a'}}" ng-model="tbl_Ac_FiscalYear_ClosingDetail.CreatedDate" disabled />
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Modified by</span>
                            <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_Ac_FiscalYear_ClosingDetail.ModifiedBy}}" ng-model="tbl_Ac_FiscalYear_ClosingDetail.ModifiedBy" disabled />
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Modified Date</span>
                            <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_Ac_FiscalYear_ClosingDetail.ModifiedDate | date :  'dd-MMM-yyyy HH:mm:ss a'}}" ng-model="tbl_Ac_FiscalYear_ClosingDetail.ModifiedDate" disabled />
                        </div>
                    </div>
                </MyFieldSet>
            </MyFieldSet>
        </form>
    </div>

    @*-----------------------------------this is data list view-----------------------------*@
    <div mycssclass="@MyCSSClassName.Table_Div">
        <table mycssclass="@MyCSSClassName.Table_Table">
            <tr>
                <th>
                    Temporary Account
                </th>
                <th>
                    Debit
                </th>
                <th>
                    Credit
                </th>
                <th></th>
            </tr>
            <tr ng-repeat="itm in pageddata.Data">
                <td>
                    {{itm.FK_tbl_Ac_ChartOfAccounts_IDName}}
                </td>
                <td>
                    {{itm.Debit}}
                </td>
                <td>
                    {{itm.Credit}}
                </td>
                <td>
                    <div mycssclass="@MyCSSClassName.Table_OptColDiv">
                        <MyButton operation="@MyButtonOperation.View" ng-click="GetRow(itm.ID,'View')"></MyButton>|
                        <MyButton operation="@MyButtonOperation.Delete" ng-click="GetRow(itm.ID,'Delete')"></MyButton>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div mycssclass="@MyCSSClassName.Table_NavDiv">
                        <MyButton operation="@MyButtonOperation.first" ng-click="pageNavigation('first')" ng-disabled="ng_DisabledBtnPageF"></MyButton>
                        <MyButton operation="@MyButtonOperation.back" ng-click="pageNavigation('back')" ng-disabled="ng_DisabledBtnPageP"></MyButton>
                        <MyButton operation="@MyButtonOperation.RecordNo" ng-click="pageNavigation('back')" ng-disabled="ng_DisabledBtnPageP">{{pageddata.CurrentPage}} of {{pageddata.TotalPages}}</MyButton>
                        <MyButton operation="@MyButtonOperation.next" ng-click="pageNavigation('next')" ng-disabled="ng_DisabledBtnPageN"></MyButton>
                        <MyButton operation="@MyButtonOperation.last" ng-click="pageNavigation('last')" ng-disabled="ng_DisabledBtnPageL"></MyButton>
                    </div>
                </td>
            </tr>

        </table>
    </div>
    @*-----------------------------------this is search view-----------------------------*@
    @await Html.PartialAsync("_Filter", "FiscalYearCostingDetailCtlr")
</div>
