@{
    ViewBag.Title = "BMRDispensing";
}
@section Scripts {
    <script src="~/angular.js/Angular-Inventory/Dispensing/bmrdispensingindex.0.2.js"></script>
}

<div ng-controller="BMRDispensingMasterCtlr" class="container">

    <div id="BMRDispensingMasterCtlr">
        <MyViewName>Batch Dispensing</MyViewName>
        @*-----------------------------------this is entry panel-----------------------------*@
        <MyButton operation="@MyButtonOperation.CancelOfAdd"></MyButton>
        <div ng-hide="ng_entryPanelHide">
            <form name="myform" role="form" ng-submit="PostRow(); myform.$setPristine();" novalidate>
                <MyAntiforgeryToken></MyAntiforgeryToken>
                @Html.Hidden("tbl_Pro_BatchMaterialRequisitionMaster.ID", "{{tbl_Pro_BatchMaterialRequisitionMaster.ID}}")
                <MyFieldSet legendtext="Entry Form">
                    <div mycssclass="@MyCSSClassName.RowInForm">
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Doc Date</span>
                            <input id="tbl_Pro_BatchMaterialRequisitionMaster.DocDate" name="tbl_Pro_BatchMaterialRequisitionMaster.DocDate" type="date" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="{{tbl_Pro_BatchMaterialRequisitionMaster.DocDate}}" ng-model="tbl_Pro_BatchMaterialRequisitionMaster.DocDate" ng-disabled="ng_readOnly" readonly />
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Mfg Date</span>
                            <input id="tbl_Pro_BatchMaterialRequisitionMaster.BatchMfgDate" name="tbl_Pro_BatchMaterialRequisitionMaster.BatchMfgDate" type="date" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="{{tbl_Pro_BatchMaterialRequisitionMaster.BatchMfgDate}}" ng-model="tbl_Pro_BatchMaterialRequisitionMaster.BatchMfgDate" ng-disabled="ng_readOnly" readonly />
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Expiry Date</span>
                            <input id="tbl_Pro_BatchMaterialRequisitionMaster.BatchExpiryDate" name="tbl_Pro_BatchMaterialRequisitionMaster.BatchExpiryDate" type="date" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="{{tbl_Pro_BatchMaterialRequisitionMaster.BatchExpiryDate}}" ng-model="tbl_Pro_BatchMaterialRequisitionMaster.BatchExpiryDate" ng-disabled="ng_readOnly" readonly />
                        </div>
                    </div>

                    <div mycssclass="@MyCSSClassName.RowInForm">
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup6">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Manufacturing Product</span>
                            <input type="text" id="tbl_Pro_BatchMaterialRequisitionMaster.FK_tbl_Inv_ProductRegistrationDetail_IDName" name="tbl_Pro_BatchMaterialRequisitionMaster.FK_tbl_Inv_ProductRegistrationDetail_IDName" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="...." value="tbl_Pro_BatchMaterialRequisitionMaster.FK_tbl_Inv_ProductRegistrationDetail_IDName" ng-model="tbl_Pro_BatchMaterialRequisitionMaster.FK_tbl_Inv_ProductRegistrationDetail_IDName" ng-disabled="ng_readOnly" readonly />
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">BatchSize In {{tbl_Pro_BatchMaterialRequisitionMaster.BatchSizeUnit}}</span>
                            <input id="tbl_Pro_BatchMaterialRequisitionMaster.BatchSize" name="tbl_Pro_BatchMaterialRequisitionMaster.BatchSize" type="number" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" ng-model="tbl_Pro_BatchMaterialRequisitionMaster.BatchSize" ng-pattern="wholeNumberOrNot" ng-disabled="ng_readOnly" readonly />
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Batch No</span>
                            <input type="text" id="tbl_Pro_BatchMaterialRequisitionMaster.BatchNo" name="tbl_Pro_BatchMaterialRequisitionMaster.BatchNo" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="...." value="tbl_Pro_BatchMaterialRequisitionMaster.BatchNo" ng-model="tbl_Pro_BatchMaterialRequisitionMaster.BatchNo" ng-disabled="ng_readOnly" readonly />
                        </div>
                    </div>

                    <div mycssclass="@MyCSSClassName.RowInForm">
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroupSubmit">
                            <input type="submit" value="{{ng_entryPanelSubmitBtnText}}" mycssclass="@MyCSSClassName.RowInForm_FormGroupSubmit_btn" ng-disabled="myform.$invalid || ng_DisabledBtnAll" />
                        </div>
                    </div>

                    <MyFieldSet legendtext="User" child="true">
                        <div mycssclass="@MyCSSClassName.RowInForm">
                            <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                                <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Created by</span>
                                <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_Pro_BatchMaterialRequisitionMaster.CreatedBy}}" ng-model="tbl_Pro_BatchMaterialRequisitionMaster.CreatedBy" disabled />
                            </div>
                            <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                                <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Created Date</span>
                                <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_Pro_BatchMaterialRequisitionMaster.CreatedDate | date :  'dd-MMM-yyyy HH:mm:ss a'}}" ng-model="tbl_Pro_BatchMaterialRequisitionMaster.CreatedDate" disabled />
                            </div>
                            <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                                <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Modified by</span>
                                <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_Pro_BatchMaterialRequisitionMaster.ModifiedBy}}" ng-model="tbl_Pro_BatchMaterialRequisitionMaster.ModifiedBy" disabled />
                            </div>
                            <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                                <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Modified Date</span>
                                <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_Pro_BatchMaterialRequisitionMaster.ModifiedDate | date :  'dd-MMM-yyyy HH:mm:ss a'}}" ng-model="tbl_Pro_BatchMaterialRequisitionMaster.ModifiedDate" disabled />
                            </div>
                        </div>
                    </MyFieldSet>
                </MyFieldSet>
            </form>
        </div>
        @*-----------------------------------this is data list view-----------------------------*@
        <div mycssclass="@MyCSSClassName.Table_Div">
            <table mycssclass="@MyCSSClassName.Table_Table">
                <tr>
                    <th>
                        Doc Date
                    </th>
                    <th>
                        BatchNo
                    </th>
                    <th>
                        Mfg
                    </th>
                    <th>
                        Expiry
                    </th>
                    <th>
                        Product
                    </th>
                    <th>
                        Raw Batch Size
                    </th>
                    <th>
                        Dimension
                    </th>
                    <th>
                        Package BatchSize
                    </th>
                    <th></th>
                </tr>
                <tr ng-repeat="itm in pageddata.Data">
                    <td>
                        {{itm.DocDate}}
                    </td>
                    <td>
                        {{itm.BatchNo}}
                    </td>
                    <td>
                        {{itm.BatchMfgDate}}
                    </td>
                    <td>
                        {{itm.BatchExpiryDate}}
                    </td>
                    <td>
                        {{itm.FK_tbl_Inv_ProductRegistrationDetail_IDName}}
                    </td>
                    <td style="background-color:lightsteelblue;">
                        {{itm.BatchSize}}-{{itm.BatchSizeUnit}}
                    </td>
                    <td>
                        {{itm.DimensionValue}}-{{itm.FK_tbl_Inv_MeasurementUnit_ID_DimensionName}}
                    </td>
                    <td style="background-color:lightsteelblue;">
                        {{itm.TotalPackageBatchSize}}-{{itm.BatchSizeUnit}}
                    </td>
                    <td>
                        <div mycssclass="@MyCSSClassName.Table_OptColDiv">
                            <MyButton operation="@MyButtonOperation.View" ng-click="GetRow(itm.ID,'View')"></MyButton>
                        </div>
                        <div mycssclass="@MyCSSClassName.Table_OptColDiv">
                            <button ng-click="
                                    DivHideShow('BMRDispensingItemsCtlr',itm,'BMRDispensingMasterCtlr','BMRDispensingItemsCtlr', null);
                                    DivHideShow('BMRDispensingDetailRawItemsCtlr',itm,'BMRDispensingRawCtlr','BMRDispensingDetailRawItemsCtlr', null);
                                    DivHideShow('BMRDispensingDetailPackagingDetailItemsCtlr',itm,'BMRDispensingPackagingCtlr','BMRDispensingDetailPackagingDetailItemsCtlr', null);
                                    "
                                    mycssclass="@MyCSSClassName.Table_OperationBtn" title="Goto Items">
                                Item(s) <span class="fa fa-rectangle-list"></span>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="9">
                        <div mycssclass="@MyCSSClassName.Table_NavDiv">
                            <MyButton operation="@MyButtonOperation.first" ng-click="pageNavigation('first')" ng-disabled="ng_DisabledBtnPageF"></MyButton>
                            <MyButton operation="@MyButtonOperation.back" ng-click="pageNavigation('back')" ng-disabled="ng_DisabledBtnPageP"></MyButton>
                            <MyButton operation="@MyButtonOperation.RecordNo" ng-click="pageNavigation('back')" ng-disabled="ng_DisabledBtnPageP">{{pageddata.CurrentPage}} of {{pageddata.TotalPages}}</MyButton>
                            <MyButton operation="@MyButtonOperation.next" ng-click="pageNavigation('next')" ng-disabled="ng_DisabledBtnPageN"></MyButton>
                            <MyButton operation="@MyButtonOperation.last" ng-click="pageNavigation('last')" ng-disabled="ng_DisabledBtnPageL"></MyButton>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        @*-----------------------------------this is search view-----------------------------*@
        @await Html.PartialAsync("_Filter", "BMRDispensingMasterCtlr")
        <br />
        <input type="button" class="btn btn-outline-primary btn-sm" ng-init="cautionhide=true" value="Cautions" ng-click="cautionhide ? cautionhide=false: cautionhide=true;" />
        <div style="font-size:x-small;" ng-hide="cautionhide">
            <p>1. Dispensing Qty Can never be exeeded from requested Qty</p>
            <p>2. Dispensing Date will always be current</p>
        </div>
    </div>

    <div ng-controller="BMRDispensingItemsCtlr">
        <div id="BMRDispensingItemsCtlr" style="display: none;">
            @await Html.PartialAsync("BMRDispensingItems")
        </div>
    </div>

    @*-----------------------------------this is Modal view-----------------------------*@
    @await Html.PartialAsync("_ReferenceSearchModalGeneral")
</div>




