@{
    ViewBag.Title = "Measurement Unit";
}
@section Scripts {

    <script src="~/angular.js/Angular-Inventory/SetUp/measurementunitindex.0.1.js"></script>
}
<div ng-controller="MeasurementUnitIndexCtlr" class="container">
    <div id="MeasurementUnitIndexCtlr">
        <MyViewName>Measurement Unit</MyViewName>
        @*-----------------------------------this is entry panel-----------------------------*@
        <MyButton operation="@MyButtonOperation.Add"></MyButton>
        <div ng-hide="ng_entryPanelHide">
            <form name="myform" role="form" ng-submit="PostRow(); myform.$setPristine();" novalidate>

                <MyAntiforgeryToken></MyAntiforgeryToken>
                @Html.Hidden("tbl_Inv_MeasurementUnit.ID", "{{tbl_Inv_MeasurementUnit.ID}}")

                <MyFieldSet legendtext="Entry Form">
                    <div mycssclass="@MyCSSClassName.RowInForm">
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup4">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Measurement Unit</span>
                            <input type="text" id="tbl_Inv_MeasurementUnit.MeasurementUnit" name="tbl_Inv_MeasurementUnit.MeasurementUnit" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="MeasurementUnit" value="tbl_Inv_MeasurementUnit.MeasurementUnit" ng-model="tbl_Inv_MeasurementUnit.MeasurementUnit" ng-disabled="ng_readOnly" minlength="1" maxlength="15" required />
                            <MyValidationSpan formname="myform" fieldname="tbl_Inv_MeasurementUnit.MeasurementUnit" required="true" minlength="1" maxlength="15"></MyValidationSpan>
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Is Decimal</span>
                            <select id="tbl_Inv_MeasurementUnit.IsDecimal" name="tbl_Inv_MeasurementUnit.IsDecimal" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Select" ng-options="o.v as o.n for o in [{ n: 'Whole Number', v: false }, { n: 'Decimal', v: true }]" data-ng-model="tbl_Inv_MeasurementUnit.IsDecimal" ng-disabled="ng_readOnly" required>
                                <option value="">Select Decimal/Whole Type</option>
                            </select>
                            <MyValidationSpan formname="myform" fieldname="tbl_Inv_MeasurementUnit.IsDecimal" required="true"></MyValidationSpan>
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup4">

                        </div>
                    </div>

                    <div mycssclass="@MyCSSClassName.RowInForm">
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroupSubmit">
                            <input type="submit" value="{{ng_entryPanelSubmitBtnText}}" mycssclass="@MyCSSClassName.RowInForm_FormGroupSubmit_btn" ng-disabled="myform.$invalid || ng_DisabledBtnAll" />
                        </div>
                    </div>

                    <MyFieldSet legendtext="User" child="true">
                        <div mycssclass="@MyCSSClassName.RowInForm">
                            <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                                <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Created by</span>
                                <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_Inv_MeasurementUnit.CreatedBy}}" ng-model="tbl_Inv_MeasurementUnit.CreatedBy" disabled />
                            </div>
                            <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                                <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Created Date</span>
                                <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_Inv_MeasurementUnit.CreatedDate | date :  'dd-MMM-yyyy HH:mm:ss a'}}" ng-model="tbl_Inv_MeasurementUnit.CreatedDate" disabled />
                            </div>
                            <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                                <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Modified by</span>
                                <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_Inv_MeasurementUnit.ModifiedBy}}" ng-model="tbl_Inv_MeasurementUnit.ModifiedBy" disabled />
                            </div>
                            <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                                <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Modified Date</span>
                                <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_Inv_MeasurementUnit.ModifiedDate | date :  'dd-MMM-yyyy HH:mm:ss a'}}" ng-model="tbl_Inv_MeasurementUnit.ModifiedDate" disabled />
                            </div>
                        </div>
                    </MyFieldSet>
                </MyFieldSet>
            </form>
        </div>

        @*-----------------------------------this is data list view-----------------------------*@
        <div mycssclass="@MyCSSClassName.Table_Div">
            <table mycssclass="@MyCSSClassName.Table_Table">
                <tr>
                    <th>
                        Measurement Unit
                    </th>
                    <th>
                        Is Decimal
                    </th>
                    <th></th>
                </tr>
                <tr ng-repeat="itm in pageddata.Data">
                    <td>
                        {{itm.MeasurementUnit}}
                    </td>
                    <td>
                        {{itm.IsDecimal ? 'Decimal' : 'Whole Number'}}
                    </td>
                    <td>
                        <div mycssclass="@MyCSSClassName.Table_OptColDiv">
                            <MyButton operation="@MyButtonOperation.View" ng-click="GetRow(itm.ID,'View')"></MyButton>|
                            <MyButton operation="@MyButtonOperation.Edit" ng-click="GetRow(itm.ID,'Edit')"></MyButton>|
                            <MyButton operation="@MyButtonOperation.Delete" ng-click="GetRow(itm.ID,'Delete')"></MyButton>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div mycssclass="@MyCSSClassName.Table_NavDiv">
                            <MyButton operation="@MyButtonOperation.first" ng-click="pageNavigation('first')" ng-disabled="ng_DisabledBtnPageF"></MyButton>
                            <MyButton operation="@MyButtonOperation.back" ng-click="pageNavigation('back')" ng-disabled="ng_DisabledBtnPageP"></MyButton>
                            <MyButton operation="@MyButtonOperation.RecordNo" ng-click="pageNavigation('back')" ng-disabled="ng_DisabledBtnPageP">{{pageddata.CurrentPage}} of {{pageddata.TotalPages}}</MyButton>
                            <MyButton operation="@MyButtonOperation.next" ng-click="pageNavigation('next')" ng-disabled="ng_DisabledBtnPageN"></MyButton>
                            <MyButton operation="@MyButtonOperation.last" ng-click="pageNavigation('last')" ng-disabled="ng_DisabledBtnPageL"></MyButton>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        @*-----------------------------------this is search view-----------------------------*@
        @await Html.PartialAsync("_Filter", "MeasurementUnitIndexCtlr")
    </div>
</div>




