@{
    ViewBag.Title = "WareHouse";
}
@section Scripts {
    <script src="~/angular.js/Angular-Inventory/SetUp/warehouseindex.0.1.js"></script>
}
<div ng-controller="WareHouseMasterCtlr" class="container">

    <div id="WareHouseMasterCtlr">
        <MyViewName>WareHouse</MyViewName>
        @*-----------------------------------this is entry panel-----------------------------*@
        <MyButton operation="@MyButtonOperation.Add"></MyButton>
        <div ng-hide="ng_entryPanelHide">
            <form name="myform" role="form" ng-submit="PostRow(); myform.$setPristine();" novalidate>
                <MyAntiforgeryToken></MyAntiforgeryToken>
                @Html.Hidden("tbl_Inv_WareHouseMaster.ID", "{{tbl_Inv_WareHouseMaster.ID}}")
                <MyFieldSet legendtext="Entry Form">

                    <div mycssclass="@MyCSSClassName.RowInForm">
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup4">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">WareHouse Name</span>
                            <input type="text" id="tbl_Inv_WareHouseMaster.WareHouseName" name="tbl_Inv_WareHouseMaster.WareHouseName" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="WareHouse" value="tbl_Inv_WareHouseMaster.WareHouseName" ng-model="tbl_Inv_WareHouseMaster.WareHouseName" ng-disabled="ng_readOnly" minlength="1" maxlength="50" required />
                            <MyValidationSpan formname="myform" fieldname="tbl_Inv_WareHouseMaster.WareHouseName" required="true" minlength="1" maxlength="50"></MyValidationSpan>
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Prefix</span>
                            <input type="text" id="tbl_Inv_WareHouseMaster.Prefix" name="tbl_Inv_WareHouseMaster.Prefix" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="Prefix" value="tbl_Inv_WareHouseMaster.Prefix" ng-model="tbl_Inv_WareHouseMaster.Prefix" ng-disabled="ng_readOnly" minlength="1" maxlength="5" required />
                            <MyValidationSpan formname="myform" fieldname="tbl_Inv_WareHouseMaster.Prefix" required="true" minlength="1" maxlength="5"></MyValidationSpan>
                        </div>
                    </div>

                    <div mycssclass="@MyCSSClassName.RowInForm">
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroupSubmit">
                            <input type="submit" value="{{ng_entryPanelSubmitBtnText}}" mycssclass="@MyCSSClassName.RowInForm_FormGroupSubmit_btn" ng-disabled="myform.$invalid || ng_DisabledBtnAll" />
                        </div>
                    </div>

                    <MyFieldSet legendtext="User" child="true">
                        <div mycssclass="@MyCSSClassName.RowInForm">
                            <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                                <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Created by</span>
                                <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_Inv_WareHouseMaster.CreatedBy}}" ng-model="tbl_Inv_WareHouseMaster.CreatedBy" disabled />
                            </div>
                            <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                                <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Created Date</span>
                                <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_Inv_WareHouseMaster.CreatedDate | date :  'dd-MMM-yyyy HH:mm:ss a'}}" ng-model="tbl_Inv_WareHouseMaster.CreatedDate" disabled />
                            </div>
                            <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                                <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Modified by</span>
                                <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_Inv_WareHouseMaster.ModifiedBy}}" ng-model="tbl_Inv_WareHouseMaster.ModifiedBy" disabled />
                            </div>
                            <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                                <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Modified Date</span>
                                <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_Inv_WareHouseMaster.ModifiedDate | date :  'dd-MMM-yyyy HH:mm:ss a'}}" ng-model="tbl_Inv_WareHouseMaster.ModifiedDate" disabled />
                            </div>
                        </div>
                    </MyFieldSet>
                </MyFieldSet>
            </form>
        </div>
        @*-----------------------------------this is data list view-----------------------------*@
        <div mycssclass="@MyCSSClassName.Table_Div">
            <table mycssclass="@MyCSSClassName.Table_Table">
                <tr>
                    <th>
                        WareHouse Name
                    </th>
                    <th>
                        Prefix
                    </th>
                    <th>
                        # Categories
                    </th>
                    <th></th>
                </tr>
                <tr ng-repeat="itm in pageddata.Data">
                    <td>
                        {{itm.WareHouseName}}
                    </td>
                    <td>
                        {{itm.Prefix}}
                    </td>
                    <td>
                        {{itm.NoOfCategories}}
                    </td>
                    <td>
                        <div mycssclass="@MyCSSClassName.Table_OptColDiv">
                            <MyButton operation="@MyButtonOperation.View" ng-click="GetRow(itm.ID,'View')"></MyButton>|
                            <MyButton operation="@MyButtonOperation.Edit" ng-click="GetRow(itm.ID,'Edit')"></MyButton>|
                            <MyButton operation="@MyButtonOperation.Delete" ng-click="GetRow(itm.ID,'Delete')"></MyButton>
                        </div>
                        <div mycssclass="@MyCSSClassName.Table_OptColDiv">
                            <button ng-click="DivHideShow('WareHouseDetailCtlr',itm,'WareHouseMasterCtlr','WareHouseDetailCtlr', null);" mycssclass="@MyCSSClassName.Table_OperationBtn" title="Goto Category">Category <span class="fa fa-info-circle"></span></button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <div mycssclass="@MyCSSClassName.Table_NavDiv">
                            <MyButton operation="@MyButtonOperation.first" ng-click="pageNavigation('first')" ng-disabled="ng_DisabledBtnPageF"></MyButton>
                            <MyButton operation="@MyButtonOperation.back" ng-click="pageNavigation('back')" ng-disabled="ng_DisabledBtnPageP"></MyButton>
                            <MyButton operation="@MyButtonOperation.RecordNo" ng-click="pageNavigation('back')" ng-disabled="ng_DisabledBtnPageP">{{pageddata.CurrentPage}} of {{pageddata.TotalPages}}</MyButton>
                            <MyButton operation="@MyButtonOperation.next" ng-click="pageNavigation('next')" ng-disabled="ng_DisabledBtnPageN"></MyButton>
                            <MyButton operation="@MyButtonOperation.last" ng-click="pageNavigation('last')" ng-disabled="ng_DisabledBtnPageL"></MyButton>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        @*-----------------------------------this is search view-----------------------------*@
        @await Html.PartialAsync("_Filter", "WareHouseMasterCtlr")
    </div>


    <div ng-controller="WareHouseDetailCtlr">
        <div id="WareHouseDetailCtlr" style="display: none;">
            @await Html.PartialAsync("WareHouseDetail")
        </div>
    </div>
        
</div>




