@{
    ViewBag.Title = "Journal Document2";
}
@section Scripts {
    <script src="~/angular.js/Angular-Accounts/Voucher/journaldocument2index.0.1.js"></script>
}
<div ng-controller="JournalDocument2MasterCtlr" class="container">

    <div id="JournalDocument2MasterCtlr">
        <MyViewName>Journal Document2</MyViewName>
        @*-----------------------------------this is entry panel-----------------------------*@
        <MyButton operation="@MyButtonOperation.Add"></MyButton>
        <div ng-hide="ng_entryPanelHide">
            <form name="myform" role="form" ng-submit="PostRow(); myform.$setPristine();" novalidate>
                <MyAntiforgeryToken></MyAntiforgeryToken>
                @Html.Hidden("tbl_Ac_V_JournalDocument2Master.ID", "{{tbl_Ac_V_JournalDocument2Master.ID}}")
            <MyFieldSet legendtext="Entry Form">

                <div mycssclass="@MyCSSClassName.RowInForm">
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup2">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Voucher No</span>
                        <input id="tbl_Ac_V_JournalDocument2Master.VoucherNo" name="tbl_Ac_V_JournalDocument2Master.VoucherNo" type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="00001" value="tbl_Ac_V_JournalDocument2Master.VoucherNo" ng-model="tbl_Ac_V_JournalDocument2Master.VoucherNo" ng-disabled="ng_readOnly" readonly />
                    </div>
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Voucher Date</span>
                        <input id="tbl_Ac_V_JournalDocument2Master.VoucherDate" name="tbl_Ac_V_JournalDocument2Master.VoucherDate" type="datetime-local" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="{{tbl_Ac_V_JournalDocument2Master.VoucherDate}}" ng-model="tbl_Ac_V_JournalDocument2Master.VoucherDate" ng-disabled="ng_readOnly" required />
                        <MyValidationSpan formname="myform" fieldname="tbl_Ac_V_JournalDocument2Master.VoucherDate" required="true"></MyValidationSpan>
                    </div>
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup5">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Remarks</span>
                        <input id="tbl_Ac_V_JournalDocument2Master.Remarks" name="tbl_Ac_V_JournalDocument2Master.Remarks" type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="...." value="tbl_Ac_V_JournalDocument2Master.Remarks" ng-model="tbl_Ac_V_JournalDocument2Master.Remarks" ng-disabled="ng_readOnly" maxlength="50" />
                        <MyValidationSpan formname="myform" fieldname="tbl_Ac_V_JournalDocument2Master.Remarks" required="true" maxlength="50"></MyValidationSpan>
                    </div>
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup2">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Posting Action</span>
                        <select id="tbl_Ac_V_JournalDocument2Master.IsPosted" name="tbl_Ac_V_JournalDocument2Master.IsPosted" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Select" ng-options="o.v as o.n for o in [{ n: 'Posted', v: true }, { n: 'Hold', v: false }]" data-ng-model="tbl_Ac_V_JournalDocument2Master.IsPosted" ng-disabled="ng_readOnly" ng-required="ng_entryPanelSubmitBtnText==='Save New' && tbl_Ac_V_JournalDocument2Master.ID > 0" ng-hide="ng_entryPanelSubmitBtnText==='Save New' && tbl_Ac_V_JournalDocument2Master.ID === 0">
                        </select>
                        <MyValidationSpan formname="myform" fieldname="tbl_Ac_V_JournalDocument2Master.IsPosted" required="true"></MyValidationSpan>
                    </div>
                </div>
                <div mycssclass="@MyCSSClassName.RowInForm">
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup2">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Total Debit</span>
                        <input id="tbl_Ac_V_JournalDocument2Master.TotalDebit" name="tbl_Ac_V_JournalDocument2Master.TotalDebit" type="number" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" ng-model="tbl_Ac_V_JournalDocument2Master.TotalDebit" min="0" disabled required />
                    </div>
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup2">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Total Credit</span>
                        <input id="tbl_Ac_V_JournalDocument2Master.TotalCredit" name="tbl_Ac_V_JournalDocument2Master.TotalCredit" type="number" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" ng-model="tbl_Ac_V_JournalDocument2Master.TotalCredit" min="0" disabled required />
                    </div>
                </div>

                <div mycssclass="@MyCSSClassName.RowInForm">
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroupSubmit">
                        <input type="submit" value="{{ng_entryPanelSubmitBtnText}}" mycssclass="@MyCSSClassName.RowInForm_FormGroupSubmit_btn" ng-disabled="myform.$invalid || ng_DisabledBtnAll" />
                    </div>
                </div>

                <MyFieldSet legendtext="User" child="true">
                    <div mycssclass="@MyCSSClassName.RowInForm">
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Created by</span>
                            <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_Ac_V_JournalDocument2Master.CreatedBy}}" ng-model="tbl_Ac_V_JournalDocument2Master.CreatedBy" disabled />
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Created Date</span>
                            <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_Ac_V_JournalDocument2Master.CreatedDate | date :  'dd-MMM-yyyy HH:mm:ss a'}}" ng-model="tbl_Ac_V_JournalDocument2Master.CreatedDate" disabled />
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Modified by</span>
                            <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_Ac_V_JournalDocument2Master.ModifiedBy}}" ng-model="tbl_Ac_V_JournalDocument2Master.ModifiedBy" disabled />
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Modified Date</span>
                            <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_Ac_V_JournalDocument2Master.ModifiedDate | date :  'dd-MMM-yyyy HH:mm:ss a'}}" ng-model="tbl_Ac_V_JournalDocument2Master.ModifiedDate" disabled />
                        </div>
                    </div>
                </MyFieldSet>
            </MyFieldSet>
            </form>
        </div>
        @*-----------------------------------this is data list view-----------------------------*@
        <div mycssclass="@MyCSSClassName.Table_Div">
            <table mycssclass="@MyCSSClassName.Table_Table">
                <tr>
                    <th>
                        Voucher No
                    </th>
                    <th>
                        Voucher Date
                    </th>
                    <th>
                        Total Debit
                    </th>
                    <th>
                        Total Credit
                    </th>
                    <th>
                        Posted
                    </th>
                    <th>
                        Remarks
                    </th>
                    <th>
                        Supervised
                    </th>
                    <th></th>
                </tr>
                <tr ng-repeat="itm in pageddata.Data">
                    <td>
                        {{itm.VoucherNo}}
                    </td>
                    <td>
                        {{itm.VoucherDate}}
                    </td>
                    <td>
                        {{itm.TotalDebit}}
                    </td>
                    <td>
                        {{itm.TotalCredit}}
                    </td>
                    <td style="text-align:center; align-items:center;">
                        <i class="fa fa-lightbulb" style="color: green; font-size: large;" ng-hide="itm.IsPosted===false"></i>
                        <i class="fa fa-lightbulb" style="color: red; font-size: large;" ng-hide="itm.IsPosted===true"></i> 
                        <div mycssclass="@MyCSSClassName.Table_OptColDiv">
                            <button type="button" class="btn btn-sm" ng-click="GetRow(itm.ID,'Add')" ng-hide="itm.IsPosted===true">Post</button>
                        </div>
                    </td>
                    <td>
                        {{itm.Remarks}}
                    </td>
                    <td>
                        <i class="fa fa-lightbulb" style="color: green; font-size: large;" ng-hide="itm.IsSupervisedAll===false"></i>
                        <i class="fa fa-lightbulb" style="color: red; font-size: large;" ng-hide="itm.IsSupervisedAll===true"></i>
                    </td>
                    <td>
                        <div mycssclass="@MyCSSClassName.Table_OptColDiv">
                            <MyButton operation="@MyButtonOperation.View" ng-click="GetRow(itm.ID,'View')"></MyButton>|
                            <MyButton operation="@MyButtonOperation.Edit" ng-click="GetRow(itm.ID,'Edit')"></MyButton>|
                            <MyButton operation="@MyButtonOperation.Delete" ng-click="GetRow(itm.ID,'Delete')"></MyButton>
                        </div>                        
                        <div mycssclass="@MyCSSClassName.Table_OptColDiv">
                            <button ng-click="DivHideShow('JournalDocument2DetailCtlr',itm,'JournalDocument2MasterCtlr','JournalDocument2DetailCtlr', null);" mycssclass="@MyCSSClassName.Table_OperationBtn" title="Goto Detail">Detail <span class="fa fa-info-circle"></span></button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="8">
                        <div mycssclass="@MyCSSClassName.Table_NavDiv">
                            <MyButton operation="@MyButtonOperation.first" ng-click="pageNavigation('first')" ng-disabled="ng_DisabledBtnPageF"></MyButton>
                            <MyButton operation="@MyButtonOperation.back" ng-click="pageNavigation('back')" ng-disabled="ng_DisabledBtnPageP"></MyButton>
                            <MyButton operation="@MyButtonOperation.RecordNo" ng-click="pageNavigation('back')" ng-disabled="ng_DisabledBtnPageP">{{pageddata.CurrentPage}} of {{pageddata.TotalPages}}</MyButton>
                            <MyButton operation="@MyButtonOperation.next" ng-click="pageNavigation('next')" ng-disabled="ng_DisabledBtnPageN"></MyButton>
                            <MyButton operation="@MyButtonOperation.last" ng-click="pageNavigation('last')" ng-disabled="ng_DisabledBtnPageL"></MyButton>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        @*-----------------------------------this is search view-----------------------------*@
        @await Html.PartialAsync("_Filter", "JournalDocument2MasterCtlr")
        @await Html.PartialAsync("_ReportPanelGeneral")
    </div>


    <div ng-controller="JournalDocument2DetailCtlr">
        <div id="JournalDocument2DetailCtlr" style="display: none;">
            @await Html.PartialAsync("JournalDocument2Detail")
        </div>
    </div>

    @*-----------------------------------this is Modal view-----------------------------*@
    @await Html.PartialAsync("_COASearchModalGeneral")
        
</div>




