@{
    ViewBag.Title = "AccountsLedger";
}
@section Scripts {
    <script src="~/angular.js/Angular-Accounts/Proceedings/acledgerindex.0.1.js"></script>
}
<div ng-controller="AcLedgerIndexCtlr" class="container">

    <div id="AcLedgerIndexCtlr">
        <MyViewName>Accounts Ledger</MyViewName>
        @*-----------------------------------this Load Data-----------------------------*@
        <div>
            <form name="myform1" role="form" ng-submit="pageNavigation('first'); myform1.$setPristine();" novalidate>
                <MyFieldSet legendtext="Filter Parameters" style="background-color:lavender;">
                    <div mycssclass="@MyCSSClassName.RowInForm">
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Date From</span>
                            <input id="ParaDateFrom" name="ParaDateFrom" type="datetime-local" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="{{ParaDateFrom}}" ng-change="pageNavigationParameterChanged();" ng-model="ParaDateFrom" required />
                            <MyValidationSpan formname="myform1" fieldname="ParaDateFrom" required="true"></MyValidationSpan>
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Date Till</span>
                            <input id="ParaDateTill" name="ParaDateTill" type="datetime-local" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="{{ParaDateTill}}" ng-change="pageNavigationParameterChanged();" ng-model="ParaDateTill" required />
                            <MyValidationSpan formname="myform1" fieldname="ParaDateTill" required="true"></MyValidationSpan>
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup6">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Account</span>
                            <MyButtonModal fieldname="ParaAcName" ng-click="OpenCOASearchModalGeneral('General', 0, 'ParaAcName', COASearch_CtrlFunction_Ref_InvokeOnSelection);myform1['ParaAcName'].$dirty=true;pageNavigationParameterChanged();" required></MyButtonModal>
                            <MyValidationSpan formname="myform1" fieldname="ParaAcName" required="true"></MyValidationSpan>
                        </div>
                    </div>
                    <div mycssclass="@MyCSSClassName.RowInForm">
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Transaction Status</span>
                            <select id="ParaTStatus" name="ParaTStatus" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Select" ng-options="o.v as o.n for o in [{ n: 'Confirmed', v: true }, { n: 'Pending', v: false }]" data-ng-model="ParaTStatus">
                                <option value="">Select All</option>
                            </select>
                            <MyValidationSpan formname="myform" fieldname="ParaTStatus"></MyValidationSpan>
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span class="input-group-text LabelTextNotRequired bg-transparent border-0">&nbsp;</span>
                            <input type="submit" value="Fetch Result" mycssclass="@MyCSSClassName.RowInForm_FormGroupSubmit_btn" style="width:100%" ng-disabled="myform1.$invalid || ng_DisabledBtnAll" />
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup1">
                            <span class="input-group-text LabelTextNotRequired bg-transparent border-0">&nbsp;</span>
                            <input type="button" value="Ledger" class="btn btn-primary" style="width:100%" ng-click="OpenReport('Ledger');" ng-disabled="myform1.$invalid || ng_DisabledBtnAll" />
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup1">
                            <span class="input-group-text LabelTextNotRequired bg-transparent border-0">&nbsp;</span>
                            <input type="button" value="Trial-3" class="btn btn-primary" style="width:100%" ng-click="OpenReport('Trial3');"/>
                        </div>
                    </div>
                </MyFieldSet>
            </form>
        </div>
        <hr />
        <div mycssclass="@MyCSSClassName.RowInForm" style="text-align: center; color: steelblue; font-weight: bolder;">
            <div mycssclass="@MyCSSClassName.RowInForm_FormGroup6">
                <span class="fa fa-folder-open" style="font-size:large;"></span> <span>Opening: <b>{{pageddata.otherdata.Opening === undefined ? 0 : pageddata.otherdata.Opening}}/-</b></span>
            </div>
            <div mycssclass="@MyCSSClassName.RowInForm_FormGroup6">
                <span class="fa fa-folder-closed" style="font-size:large;"></span> <span>Closing: <b>{{pageddata.otherdata.Closing === undefined ? 0 : pageddata.otherdata.Closing}}/-</b></span>
            </div>
        </div>
        @*-----------------------------------this is data list view-----------------------------*@
        <div mycssclass="@MyCSSClassName.Table_Div">
            <table mycssclass="@MyCSSClassName.Table_Table">
                <tr>
                    <th>
                        Posting Date
                    </th>
                    <th>
                        Debit
                    </th>
                    <th>
                        Credit
                    </th>
                    <th>
                        Narration
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Ref
                    </th>
                </tr>
                <tr ng-repeat="itm in pageddata.Data">
                    <td>
                        {{itm.PostingDate}}
                    </td>
                    <td>
                        {{itm.Debit}}
                    </td>
                    <td>
                        {{itm.Credit}}
                    </td>
                    <td>
                        {{itm.Narration}}
                    </td>
                    <td>
                        {{itm.Posted ? 'Confirmed' : 'Pending'}}
                    </td>
                    <td>
                        {{itm.Ref}}
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        <div mycssclass="@MyCSSClassName.Table_NavDiv">
                            <MyButton operation="@MyButtonOperation.first" ng-click="pageNavigation('first')" ng-disabled="ng_DisabledBtnPageF"></MyButton>
                            <MyButton operation="@MyButtonOperation.back" ng-click="pageNavigation('back')" ng-disabled="ng_DisabledBtnPageP"></MyButton>
                            <MyButton operation="@MyButtonOperation.RecordNo" ng-click="pageNavigation('back')" ng-disabled="ng_DisabledBtnPageP">{{pageddata.CurrentPage}} of {{pageddata.TotalPages}}</MyButton>
                            <MyButton operation="@MyButtonOperation.next" ng-click="pageNavigation('next')" ng-disabled="ng_DisabledBtnPageN"></MyButton>
                            <MyButton operation="@MyButtonOperation.last" ng-click="pageNavigation('last')" ng-disabled="ng_DisabledBtnPageL"></MyButton>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    @*-----------------------------------this is Modal view-----------------------------*@
    <!-- Modal -->
    @await Html.PartialAsync("_COASearchModalGeneral")    

</div>






