@{
    ViewBag.Title = "Batch Testing";
}
@section Scripts {
    <script src="~/angular.js/Angular-QC/Testing/batchqcindex.110924.js"></script>
}
<div ng-controller="BatchMasterCtlr" class="container">
    <div id="BatchMasterCtlr">
        <MyViewName>Batch Testing</MyViewName>
        <MyAntiforgeryToken></MyAntiforgeryToken>
        @*-----------------------------------this is data list view-----------------------------*@
        <div mycssclass="@MyCSSClassName.Table_Div">
            <table mycssclass="@MyCSSClassName.Table_Table">
                <tr>
                    <th>
                        Doc Date
                    </th>
                    <th>
                        BatchNo
                    </th>
                    <th>
                        Product
                    </th>
                    <th>
                        Batch Size [Raw/Packaging]
                    </th>
                    <th>
                        Total Prod
                    </th>
                    <th>
                        Sample Pending BMR
                    </th>
                    <th>
                        Sample Pending BPR
                    </th>
                    <th>
                        [R / P] Dispensed
                    </th>
                    <th>
                        Status
                    </th>
                    <th></th>
                </tr>
                <tr ng-repeat="itm in pageddata.Data">
                    <td>
                        {{itm.DocDate}}
                    </td>
                    <td>
                        {{itm.BatchNo}}
                    </td>
                    <td>
                        {{itm.FK_tbl_Inv_ProductRegistrationDetail_IDName}}
                    </td>
                    <td>
                        {{itm.BatchSize}} / {{itm.TotalPackageBatchSize}}
                        <br />
                        {{itm.BatchSizeUnit}}
                    </td>
                    <td>
                        {{itm.TotalProd}}
                        <br />
                        {{itm.BatchSizeUnit}}
                    </td>
                    <td style="text-align:center;">
                        <span style="padding:5px;" ng-style="{'background-color': itm.IsQCSampleBMRPending ? 'lightpink' : 'lightgreen'}">
                            {{itm.IsQCSampleBMRPending ? 'Yes' : 'No'}}
                        </span>
                    </td>
                    <td style="text-align:center;">
                        <span style="padding:5px;" ng-style="{'background-color': itm.IsQCSampleBPRPending ? 'lightpink' : 'lightgreen'}">
                            {{itm.IsQCSampleBPRPending ? 'Yes' : 'No'}}
                        </span>
                    </td>
                    <td>
                        [{{itm.IsDispensedR ? 'Yes' : 'No'}} / {{itm.IsDispensedP ? 'Yes' : 'No'}}]
                    </td>
                    <td ng-style="{'background-color': itm.IsCompleted == null ? 'lightyellow' : itm.IsCompleted ? 'lightgreen' : 'lightpink'}">
                        {{ itm.IsCompleted == null ? 'Partial Finished' : itm.IsCompleted ? 'Finished' : 'In-Process' }}
                        <br />
                        {{itm.FinishedDate}}
                    </td>
                    <td>
                        <div mycssclass="@MyCSSClassName.Table_OptColDiv">
                            <button ng-click="
                                    DivHideShow('BatchBMRBPRSampleCtlr',itm,'BatchMasterCtlr','BatchBMRBPRSampleCtlr', null);
                                    DivHideShow('BatchBMRSampleCtlr',itm,null,'BatchBMRSampleCtlr', null);
                                    DivHideShow('BatchBPRSampleCtlr',itm,null,'BatchBPRSampleCtlr', null);
                                    "
                                    mycssclass="@MyCSSClassName.Table_OperationBtn" title="Goto BMR BPR Sample(s)">
                                    Sample(s) <span class="fa fa-vials"></span>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="10">
                        <div mycssclass="@MyCSSClassName.Table_NavDiv">
                            <MyButton operation="@MyButtonOperation.first" ng-click="pageNavigation('first')" ng-disabled="ng_DisabledBtnPageF"></MyButton>
                            <MyButton operation="@MyButtonOperation.back" ng-click="pageNavigation('back')" ng-disabled="ng_DisabledBtnPageP"></MyButton>
                            <MyButton operation="@MyButtonOperation.RecordNo" ng-click="pageNavigation('back')" ng-disabled="ng_DisabledBtnPageP">{{pageddata.CurrentPage}} of {{pageddata.TotalPages}}</MyButton>
                            <MyButton operation="@MyButtonOperation.next" ng-click="pageNavigation('next')" ng-disabled="ng_DisabledBtnPageN"></MyButton>
                            <MyButton operation="@MyButtonOperation.last" ng-click="pageNavigation('last')" ng-disabled="ng_DisabledBtnPageL"></MyButton>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        @*-----------------------------------this is search view-----------------------------*@
        @await Html.PartialAsync("_Filter", "BatchMasterCtlr")
        <br />
        <input type="button" class="btn btn-outline-primary btn-sm" ng-init="cautionhide=true" value="Cautions" ng-click="cautionhide ? cautionhide=false: cautionhide=true;" />
        <div style="font-size:x-small;" ng-hide="cautionhide">
            <p>1. Cannot Change Clearance when Procedure is closed</p>
        </div>
    </div>

    <div ng-controller="BatchBMRBPRSampleCtlr">
        <div id="BatchBMRBPRSampleCtlr" style="display: none;">
            @await Html.PartialAsync("BatchBMRBPRSample")
        </div>
    </div>

</div>




