<MyViewName>
    <MyViewName><a href="" ng-click="DivHideShow(null,null,'PayRunExemptEmployeeCtlr','PayRunIndexCtlr', this);">PayRun</a></MyViewName>
    <a href="" ng-click="DivHideShow(null,null,'PayRunExemptEmployeeCtlr','PayRunExemptCtlr', this);">Exemption</a>
    <MyViewName child="true"> Exemption Employees</MyViewName>
</MyViewName>
<div>
    <div>
        <div mycssclass="@MyCSSClassName.Table_DivSubPage">
            <table mycssclass="@MyCSSClassName.Table_TableSubPage">
                <tr>
                    <th>
                        Month From
                    </th>
                    <th>
                        Month To
                    </th>
                    <th>
                        Apply TO All
                    </th>
                    <th>
                        Exemption %
                    </th>
                    <th>
                        Deductible Type
                    </th>
                    <th>
                        Loan Type
                    </th>
                    <th>
                        Remarks
                    </th>
                </tr>
                <tr>
                    <td>
                        <b>{{MasterObject.MasterObject.CalendarMonthStartDate}}</b>
                    </td>
                    <td>
                        <b>{{MasterObject.MasterObject.CalendarMonthEndDate}}</b>
                    </td>
                    <td>
                        {{MasterObject.ApplyToAll?'Yes':'No'}}
                    </td>
                    <td>
                        {{MasterObject.ExemptionPercentage}}%
                    </td>
                    <td>
                        {{MasterObject.FK_tbl_WPT_DeductibleType_IDName}}
                    </td>
                    <td>
                        {{MasterObject.FK_tbl_WPT_LoanType_IDName}}
                    </td>
                    <td>
                        {{MasterObject.Remarks}}
                    </td>
                </tr>
                <tr>
                    <td colspan="7">
                    </td>
                </tr>
            </table>
        </div>
    </div>

    @*-----------------------------------this is entry panel-----------------------------*@
    <MyButton operation="@MyButtonOperation.Add"></MyButton>
    <div ng-hide="ng_entryPanelHide">
        <form name="myform" role="form" ng-submit="PostRow(); myform.$setPristine();" novalidate="">
            @Html.Hidden("tbl_WPT_PayRunExemption_Emp.ID", "{{tbl_WPT_PayRunExemption_Emp.ID}}")
            @Html.Hidden("tbl_WPT_PayRunExemption_Emp.FK_tbl_WPT_PayRunExemption_ID", "{{tbl_WPT_PayRunExemption_Emp.FK_tbl_WPT_PayRunExemption_ID}}")

            <MyFieldSet legendtext="Entry Form">
                <div mycssclass="@MyCSSClassName.RowInForm">
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup4">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Employee</span>
                        <MyButtonModal fieldname="tbl_WPT_PayRunExemption_Emp.FK_tbl_WPT_Employee_IDName" ng-click="OpenEmployeeSearchModalGeneral('General', MasterObject.ID, 'tbl_WPT_PayRunExemption_Emp.FK_tbl_WPT_Employee_IDName', EmployeeSearch_CtrlFunction_Ref_InvokeOnSelection);myform['tbl_WPT_PayRunExemption_Emp.FK_tbl_WPT_Employee_IDName'].$dirty=true;" ng-disabled="ng_readOnly" required></MyButtonModal>
                        <MyValidationSpan formname="myform" fieldname="tbl_WPT_PayRunExemption_Emp.FK_tbl_WPT_Employee_IDName" required="true"></MyValidationSpan>
                    </div>
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup4">

                    </div>
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup4">

                    </div>
                </div>


                <div mycssclass="@MyCSSClassName.RowInForm">
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroupSubmit">
                        <input type="submit" value="{{ng_entryPanelSubmitBtnText}}" mycssclass="@MyCSSClassName.RowInForm_FormGroupSubmit_btn" ng-disabled="myform.$invalid || ng_DisabledBtnAll" />
                    </div>
                </div>

                <MyFieldSet legendtext="User" child="true">
                    <div mycssclass="@MyCSSClassName.RowInForm">
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Created by</span>
                            <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_WPT_PayRunExemption_Emp.CreatedBy}}" ng-model="tbl_WPT_PayRunExemption_Emp.CreatedBy" disabled />
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Created Date</span>
                            <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_WPT_PayRunExemption_Emp.CreatedDate | date :  'dd-MMM-yyyy HH:mm:ss a'}}" ng-model="tbl_WPT_PayRunExemption_Emp.CreatedDate" disabled />
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Modified by</span>
                            <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_WPT_PayRunExemption_Emp.ModifiedBy}}" ng-model="tbl_WPT_PayRunExemption_Emp.ModifiedBy" disabled />
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Modified Date</span>
                            <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_WPT_PayRunExemption_Emp.ModifiedDate | date :  'dd-MMM-yyyy HH:mm:ss a'}}" ng-model="tbl_WPT_PayRunExemption_Emp.ModifiedDate" disabled />
                        </div>
                    </div>
                </MyFieldSet>
            </MyFieldSet>
        </form>
    </div>

    @*-----------------------------------this is data list view-----------------------------*@
    <div mycssclass="@MyCSSClassName.Table_Div">
        <table mycssclass="@MyCSSClassName.Table_Table">
            <tr>
                <th style="background-color:lightblue">
                    Employee Name
                </th>
                <th></th>
            </tr>
            <tr ng-repeat="itm in pageddata.Data">
                <td>
                    {{itm.FK_tbl_WPT_Employee_IDName}}
                </td>
                <td>
                    <div mycssclass="@MyCSSClassName.Table_OptColDiv">
                        <MyButton operation="@MyButtonOperation.View" ng-click="GetRow(itm.ID,'View')"></MyButton>|
                        <MyButton operation="@MyButtonOperation.Edit" ng-click="GetRow(itm.ID,'Edit')"></MyButton>|
                        <MyButton operation="@MyButtonOperation.Delete" ng-click="GetRow(itm.ID,'Delete')"></MyButton>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div mycssclass="@MyCSSClassName.Table_NavDiv">
                        <MyButton operation="@MyButtonOperation.first" ng-click="pageNavigation('first')" ng-disabled="ng_DisabledBtnPageF"></MyButton>
                        <MyButton operation="@MyButtonOperation.back" ng-click="pageNavigation('back')" ng-disabled="ng_DisabledBtnPageP"></MyButton>
                        <MyButton operation="@MyButtonOperation.RecordNo" ng-click="pageNavigation('back')" ng-disabled="ng_DisabledBtnPageP">{{pageddata.CurrentPage}} of {{pageddata.TotalPages}}</MyButton>
                        <MyButton operation="@MyButtonOperation.next" ng-click="pageNavigation('next')" ng-disabled="ng_DisabledBtnPageN"></MyButton>
                        <MyButton operation="@MyButtonOperation.last" ng-click="pageNavigation('last')" ng-disabled="ng_DisabledBtnPageL"></MyButton>
                    </div>
                </td>
            </tr>

        </table>
    </div>
    @*-----------------------------------this is search view-----------------------------*@
    @await Html.PartialAsync("_Filter", "PayRunExemptEmployeeCtlr")

</div>
