<MyViewName>
    <a href="" ng-click="DivHideShow(null,null,'PayRunRosterMasterCtlr','PayRunIndexCtlr', this);">PayRun</a>
    <MyViewName child="true"> Roster</MyViewName>
</MyViewName>

<div>
    <div>
        <div mycssclass="@MyCSSClassName.Table_DivSubPage">
            <table mycssclass="@MyCSSClassName.Table_TableSubPage">
                <tr>
                    <th>
                        Month From
                    </th>
                    <th>
                        Month To
                    </th>
                </tr>
                <tr>
                    <td>
                        <b>{{MasterObject.CalendarMonthStartDate}}</b>
                    </td>
                    <td>
                        <b>{{MasterObject.CalendarMonthEndDate}}</b>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                    </td>
                </tr>
            </table>
        </div>
    </div>

    @*-----------------------------------this is entry panel-----------------------------*@

    <MyButton operation="@MyButtonOperation.Add"></MyButton>
    <div ng-hide="ng_entryPanelHide">
        <form name="myform" role="form" ng-submit="PostRow(); myform.$setPristine();" novalidate="">
            @Html.Hidden("tbl_WPT_ShiftRosterMaster.ID", "{{tbl_WPT_ShiftRosterMaster.ID}}")
            @Html.Hidden("tbl_WPT_ShiftRosterMaster.FK_tbl_WPT_CalendarYear_Months_ID", "{{tbl_WPT_ShiftRosterMaster.FK_tbl_WPT_CalendarYear_Months_ID}}")

            <MyFieldSet legendtext="Entry Form">
                <div mycssclass="@MyCSSClassName.RowInForm">
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup4">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Roster Name</span>
                        <input id="tbl_WPT_ShiftRosterMaster.RosterName" name="tbl_WPT_ShiftRosterMaster.RosterName" type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="etc.. Morning Shift" value="tbl_WPT_ShiftRosterMaster.RosterName" ng-model="tbl_WPT_ShiftRosterMaster.RosterName" ng-disabled="ng_readOnly" minlength="3" maxlength="50" required />
                        <MyValidationSpan formname="myform" fieldname="tbl_WPT_ShiftRosterMaster.RosterName" required="true" minlength="3" maxlength="50"></MyValidationSpan>
                    </div>
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup4">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Remarks</span>
                        <input id="tbl_WPT_ShiftRosterMaster.Remarks" name="tbl_WPT_ShiftRosterMaster.Remarks" type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="...." value="tbl_WPT_ShiftRosterMaster.Remarks" ng-model="tbl_WPT_ShiftRosterMaster.Remarks" ng-disabled="ng_readOnly" minlength="3" maxlength="50" />
                        <MyValidationSpan formname="myform" fieldname="tbl_WPT_ShiftRosterMaster.Remarks" minlength="3" maxlength="50"></MyValidationSpan>
                    </div>
                </div>

                

                <div mycssclass="@MyCSSClassName.RowInForm">
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroupSubmit">
                        <input type="submit" value="{{ng_entryPanelSubmitBtnText}}" mycssclass="@MyCSSClassName.RowInForm_FormGroupSubmit_btn" ng-disabled="myform.$invalid || ng_DisabledBtnAll" />
                    </div>
                </div>

                <MyFieldSet legendtext="User" child="true">
                    <div mycssclass="@MyCSSClassName.RowInForm">
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Created by</span>
                            <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_WPT_ShiftRosterMaster.CreatedBy}}" ng-model="tbl_WPT_ShiftRosterMaster.CreatedBy" disabled />
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Created Date</span>
                            <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_WPT_ShiftRosterMaster.CreatedDate | date :  'dd-MMM-yyyy HH:mm:ss a'}}" ng-model="tbl_WPT_ShiftRosterMaster.CreatedDate" disabled />
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Modified by</span>
                            <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_WPT_ShiftRosterMaster.ModifiedBy}}" ng-model="tbl_WPT_ShiftRosterMaster.ModifiedBy" disabled />
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Modified Date</span>
                            <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_WPT_ShiftRosterMaster.ModifiedDate | date :  'dd-MMM-yyyy HH:mm:ss a'}}" ng-model="tbl_WPT_ShiftRosterMaster.ModifiedDate" disabled />
                        </div>
                    </div>
                </MyFieldSet>

            </MyFieldSet>
        </form>
    </div>
    @*-----------------------------------this is data list view-----------------------------*@
    <div mycssclass="@MyCSSClassName.Table_Div">
        <table mycssclass="@MyCSSClassName.Table_Table">
            <tr>
                <th>
                    Roster Name
                </th>
                <th>
                    Remarks
                </th>
                <th>
                    No Of Employees
                </th>
                <th></th>
            </tr>
            <tr ng-repeat="itm in pageddata.Data">
                <td>
                    {{itm.RosterName}}
                </td>
                <td>
                    {{itm.Remarks}}
                </td>
                <td>
                    {{itm.NoOfEmployees}}
                </td>
                <td>
                    <div mycssclass="@MyCSSClassName.Table_OptColDiv">
                        <MyButton operation="@MyButtonOperation.View" ng-click="GetRow(itm.ID,'View')"></MyButton>|
                        <MyButton operation="@MyButtonOperation.Edit" ng-click="GetRow(itm.ID,'Edit')"></MyButton>|
                        <MyButton operation="@MyButtonOperation.Delete" ng-click="GetRow(itm.ID,'Delete')"></MyButton>
                    </div>
                    <div mycssclass="@MyCSSClassName.Table_OptColDiv">
                        <button ng-click="itm['MasterObject']=MasterObject; DivHideShow('PayRunRosterDetailShiftCtlr',itm,'PayRunRosterMasterCtlr','PayRunRosterDetailShiftCtlr', null);" mycssclass="@MyCSSClassName.Table_OperationBtn" title="Goto Shifts">Shifts <span class="fa fa-calendar-times"></span></button>|
                        <button ng-click="itm['MasterObject']=MasterObject; DivHideShow('PayRunRosterDetailEmployeeCtlr',itm,'PayRunRosterMasterCtlr','PayRunRosterDetailEmployeeCtlr', null);" mycssclass="@MyCSSClassName.Table_OperationBtn" title="Goto Employee">Employee <span class="fa fa-user"></span></button>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div mycssclass="@MyCSSClassName.Table_NavDiv">
                        <MyButton operation="@MyButtonOperation.first" ng-click="pageNavigation('first')" ng-disabled="ng_DisabledBtnPageF"></MyButton>
                        <MyButton operation="@MyButtonOperation.back" ng-click="pageNavigation('back')" ng-disabled="ng_DisabledBtnPageP"></MyButton>
                        <MyButton operation="@MyButtonOperation.RecordNo" ng-click="pageNavigation('back')" ng-disabled="ng_DisabledBtnPageP">{{pageddata.CurrentPage}} of {{pageddata.TotalPages}}</MyButton>
                        <MyButton operation="@MyButtonOperation.next" ng-click="pageNavigation('next')" ng-disabled="ng_DisabledBtnPageN"></MyButton>
                        <MyButton operation="@MyButtonOperation.last" ng-click="pageNavigation('last')" ng-disabled="ng_DisabledBtnPageL"></MyButton>
                    </div>
                </td>
            </tr>

        </table>
    </div>
    @*-----------------------------------this is search view-----------------------------*@
    @await Html.PartialAsync("_Filter", "PayRunRosterMasterCtlr")

</div>
