@{
    ViewBag.Title = "Composition";
}
@section Scripts {
    <script src="~/angular.js/Angular-Production/Composition/compositionindex.030924.js"></script>
}
<div ng-controller="CompositionMasterCtlr" class="container">

    <div id="CompositionMasterCtlr">
        <MyViewName>Composition</MyViewName>
        @*-----------------------------------this is entry panel-----------------------------*@
        <MyButton operation="@MyButtonOperation.Add"></MyButton>
        <div ng-hide="ng_entryPanelHide">
            <form name="myform" role="form" ng-submit="PostRow(); myform.$setPristine();" novalidate>
                <MyAntiforgeryToken></MyAntiforgeryToken>
                @Html.Hidden("tbl_Pro_CompositionMaster.ID", "{{tbl_Pro_CompositionMaster.ID}}")
                <MyFieldSet legendtext="Entry Form">

                    <div mycssclass="@MyCSSClassName.RowInForm">
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup2">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Doc No</span>
                            <input id="tbl_Pro_CompositionMaster.DocNo" name="tbl_Pro_CompositionMaster.DocNo" type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="00001" value="tbl_Pro_CompositionMaster.DocNo" ng-model="tbl_Pro_CompositionMaster.DocNo" ng-disabled="ng_readOnly" readonly />
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup2">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Doc Date</span>
                            <input id="tbl_Pro_CompositionMaster.DocDate" name="tbl_Pro_CompositionMaster.DocDate" type="date" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="{{tbl_Pro_CompositionMaster.DocDate}}" ng-model="tbl_Pro_CompositionMaster.DocDate" ng-disabled="ng_readOnly" required />
                            <MyValidationSpan formname="myform" fieldname="tbl_Pro_CompositionMaster.DocDate" required="true"></MyValidationSpan>
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup2">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Revision No</span>
                            <input id="tbl_Pro_CompositionMaster.RevisionNo" name="tbl_Pro_CompositionMaster.RevisionNo" type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="00001" value="tbl_Pro_CompositionMaster.RevisionNo" ng-model="tbl_Pro_CompositionMaster.RevisionNo" ng-disabled="ng_readOnly" readonly />
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup2">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Revision Date</span>
                            <input id="tbl_Pro_CompositionMaster.RevisionDate" name="tbl_Pro_CompositionMaster.RevisionDate" type="date" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="{{tbl_Pro_CompositionMaster.RevisionDate}}" ng-model="tbl_Pro_CompositionMaster.RevisionDate" ng-disabled="ng_readOnly" readonly />
                        </div>
                    </div>

                    <div mycssclass="@MyCSSClassName.RowInForm">
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup6">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Composition Name</span>
                            <input type="text" id="tbl_Pro_CompositionMaster.CompositionName" name="tbl_Pro_CompositionMaster.CompositionName" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="...." value="tbl_Pro_CompositionMaster.CompositionName" ng-model="tbl_Pro_CompositionMaster.CompositionName" ng-disabled="ng_readOnly" minlength="1" maxlength="250" required />
                            <MyValidationSpan formname="myform" fieldname="tbl_Pro_CompositionMaster.CompositionName" required="true" minlength="1" maxlength="250"></MyValidationSpan>
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup2">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">ShelfLife In Months</span>
                            <input id="tbl_Pro_CompositionMaster.ShelfLifeInMonths" name="tbl_Pro_CompositionMaster.ShelfLifeInMonths" type="number" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" ng-model="tbl_Pro_CompositionMaster.ShelfLifeInMonths" ng-pattern="wholeNumberOrNot" ng-disabled="ng_readOnly" min="1" step="1" required />
                            <MyValidationSpan formname="myform" fieldname="tbl_Pro_CompositionMaster.ShelfLifeInMonths" required="true"></MyValidationSpan>
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup2">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">BMR/Dimension Value</span>
                            <input id="tbl_Pro_CompositionMaster.DimensionValue" name="tbl_Pro_CompositionMaster.DimensionValue" type="number" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" ng-model="tbl_Pro_CompositionMaster.DimensionValue" ng-pattern="wholeNumberOrNot" ng-disabled="ng_readOnly" min="0" required />
                            <MyValidationSpan formname="myform" fieldname="tbl_Pro_CompositionMaster.DimensionValue" required="true"></MyValidationSpan>
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup2">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">BMR/Dimension Unit</span>
                            <select id="tbl_Pro_CompositionMaster.FK_tbl_Inv_MeasurementUnit_ID_Dimension" name="tbl_Pro_CompositionMaster.FK_tbl_Inv_MeasurementUnit_ID_Dimension" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Select" ng-options="x.ID as x.MeasurementUnit for x in MeasurementUnitList" data-ng-model="tbl_Pro_CompositionMaster.FK_tbl_Inv_MeasurementUnit_ID_Dimension" ng-disabled="ng_readOnly" required>
                                <option value="">Select Unit</option>
                            </select>
                            <MyValidationSpan formname="myform" fieldname="tbl_Pro_CompositionMaster.FK_tbl_Inv_MeasurementUnit_ID_Dimension" required="true"></MyValidationSpan>
                        </div>

                    </div>

                    <div mycssclass="@MyCSSClassName.RowInForm">
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroupSubmit">
                            <input type="submit" value="{{ng_entryPanelSubmitBtnText}}" mycssclass="@MyCSSClassName.RowInForm_FormGroupSubmit_btn" ng-disabled="myform.$invalid || ng_DisabledBtnAll" />
                        </div>
                    </div>

                    <MyFieldSet legendtext="User" child="true">
                        <div mycssclass="@MyCSSClassName.RowInForm">
                            <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                                <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Created by</span>
                                <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_Pro_CompositionMaster.CreatedBy}}" ng-model="tbl_Pro_CompositionMaster.CreatedBy" disabled />
                            </div>
                            <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                                <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Created Date</span>
                                <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_Pro_CompositionMaster.CreatedDate | date :  'dd-MMM-yyyy HH:mm:ss a'}}" ng-model="tbl_Pro_CompositionMaster.CreatedDate" disabled />
                            </div>
                            <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                                <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Modified by</span>
                                <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_Pro_CompositionMaster.ModifiedBy}}" ng-model="tbl_Pro_CompositionMaster.ModifiedBy" disabled />
                            </div>
                            <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                                <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Modified Date</span>
                                <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_Pro_CompositionMaster.ModifiedDate | date :  'dd-MMM-yyyy HH:mm:ss a'}}" ng-model="tbl_Pro_CompositionMaster.ModifiedDate" disabled />
                            </div>
                        </div>
                    </MyFieldSet>
                </MyFieldSet>
            </form>
        </div>
        @*-----------------------------------this is data list view-----------------------------*@
        <div mycssclass="@MyCSSClassName.Table_Div">
            <table mycssclass="@MyCSSClassName.Table_Table">
                <tr>
                    <th>
                        Doc No
                    </th>
                    <th>
                        Doc Date
                    </th>
                    <th>
                        Composition
                    </th>
                    <th>
                        BMR Batch Size / Dimension
                    </th>
                    <th>
                        Shelf Life
                    </th>
                    <th>
                        Couplings
                    </th>
                    <th></th>
                </tr>
                <tr ng-repeat="itm in pageddata.Data">
                    <td>
                        {{itm.DocNo}}
                    </td>
                    <td>
                        {{itm.DocDate}}
                    </td>
                    <td>
                        {{itm.CompositionName}}
                    </td>
                    <td>
                        {{itm.DimensionValue}} {{itm.FK_tbl_Inv_MeasurementUnit_ID_DimensionName}}
                    </td>
                    <td>
                        {{itm.ShelfLifeInMonths}} Month(s)
                    </td>
                    <td>
                        {{itm.NoOfCouplings}}
                    </td>
                    <td>
                        <div mycssclass="@MyCSSClassName.Table_OptColDiv">
                            <MyButton operation="@MyButtonOperation.View" ng-click="GetRow(itm.ID,'View')"></MyButton>|
                            <MyButton operation="@MyButtonOperation.Edit" ng-click="GetRow(itm.ID,'Edit')"></MyButton>|
                            <MyButton operation="@MyButtonOperation.Delete" ng-click="GetRow(itm.ID,'Delete')"></MyButton>
                        </div>
                        <div mycssclass="@MyCSSClassName.Table_OptColDiv">
                            <button ng-click="
                                    DivHideShow('CompositionDetailRawMasterCtlr',itm,'CompositionMasterCtlr','CompositionDetailRawMasterCtlr', null);
                                    DivHideShow('BMRProcessCtlr',itm,null,'BMRProcessCtlr', null);
                                    " 
                                    mycssclass="@MyCSSClassName.Table_OperationBtn" title="Goto Raw Detail">BMR <span class="fa fa-leaf"></span></button>|
                            <button ng-click="DivHideShow('CompositionDetailCouplingMasterCtlr',itm,'CompositionMasterCtlr','CompositionDetailCouplingMasterCtlr', null);" mycssclass="@MyCSSClassName.Table_OperationBtn" title="Goto Coupling Detail"> BPR <span class="fa fa-object-group"></span>:{{itm.NoOfCouplings}}</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="7">
                        <div mycssclass="@MyCSSClassName.Table_NavDiv">
                            <MyButton operation="@MyButtonOperation.first" ng-click="pageNavigation('first')" ng-disabled="ng_DisabledBtnPageF"></MyButton>
                            <MyButton operation="@MyButtonOperation.back" ng-click="pageNavigation('back')" ng-disabled="ng_DisabledBtnPageP"></MyButton>
                            <MyButton operation="@MyButtonOperation.RecordNo" ng-click="pageNavigation('back')" ng-disabled="ng_DisabledBtnPageP">{{pageddata.CurrentPage}} of {{pageddata.TotalPages}}</MyButton>
                            <MyButton operation="@MyButtonOperation.next" ng-click="pageNavigation('next')" ng-disabled="ng_DisabledBtnPageN"></MyButton>
                            <MyButton operation="@MyButtonOperation.last" ng-click="pageNavigation('last')" ng-disabled="ng_DisabledBtnPageL"></MyButton>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        @*-----------------------------------this is search view-----------------------------*@
        @await Html.PartialAsync("_Filter", "CompositionMasterCtlr")
        <br />
        <input type="button" class="btn btn-outline-primary btn-sm" ng-init="cautionhide=true" value="Cautions" ng-click="cautionhide ? cautionhide=false: cautionhide=true;" />
        <div style="font-size:x-small;" ng-hide="cautionhide">
            <p>1. Change of Formulation Type is not allowed when detail has items</p>
            <p>2. Change of Semi Finished Product is not allowed when detail has items of Finished Product</p>
        </div>
    </div>


    <div ng-controller="CompositionDetailRawMasterCtlr">
        <div id="CompositionDetailRawMasterCtlr" style="display: none;">
            @await Html.PartialAsync("CompositionDetailRawMaster")
        </div>
        <div ng-controller="CompositionDetailRawDetailCtlr">
            <div id="CompositionDetailRawDetailCtlr" style="display: none;">
                @await Html.PartialAsync("CompositionDetailRawDetail")
            </div>
        </div>
    </div>


    <div ng-controller="CompositionDetailCouplingMasterCtlr">
        <div id="CompositionDetailCouplingMasterCtlr" style="display: none;">
            @await Html.PartialAsync("CompositionDetailCouplingMaster")
        </div>
        <div ng-controller="CompositionDetailCouplingDetailPackagingMasterCtlr">
            <div id="CompositionDetailCouplingDetailPackagingMasterCtlr" style="display: none;">
                @await Html.PartialAsync("CompositionDetailCouplingDetailPackagingMaster")
            </div>
            <div ng-controller="CompositionDetailCouplingDetailPackagingDetailMasterCtlr">
                <div id="CompositionDetailCouplingDetailPackagingDetailMasterCtlr" style="display: none;">
                    @await Html.PartialAsync("CompositionDetailCouplingDetailPackagingDetailMaster")
                </div>
                <div ng-controller="CompositionDetailCouplingDetailPackagingDetailDetailCtlr">
                    <div id="CompositionDetailCouplingDetailPackagingDetailDetailCtlr" style="display: none;">
                        @await Html.PartialAsync("CompositionDetailCouplingDetailPackagingDetailDetail")
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*-----------------------------------this is Modal view-----------------------------*@
    @await Html.PartialAsync("_ProductSearchModalGeneral")
</div>




