<MyViewName>
    <a href="" ng-click="DivHideShow(null,null,'GeneralSettingsProductTypeCtlr','GeneralSettingsIndexCtlr', this);">General Settings</a>
    <MyViewName child="true"> Product Type wise Purchase &  Sales Settings</MyViewName>
</MyViewName>

<div>    

    @*-----------------------------------this is entry panel-----------------------------*@

    <MyButton operation="@MyButtonOperation.CancelOfAdd"></MyButton>
    <div ng-hide="ng_entryPanelHide">
        <form name="myform" role="form" ng-submit="PostRow(); myform.$setPristine();" novalidate="">
            @Html.Hidden("tbl_Inv_ProductType.ID", "{{tbl_Inv_ProductType.ID}}")
            <MyFieldSet legendtext="Entry Form">
                <div mycssclass="@MyCSSClassName.RowInForm">
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup4">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Product Type</span>
                        <input type="text" id="tbl_Inv_ProductType.ProductType" name="tbl_Inv_ProductType.ProductType" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="Product Type" value="tbl_Inv_ProductType.ProductType" ng-model="tbl_Inv_ProductType.ProductType" disabled />
                    </div>
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Prefix</span>
                        <input type="text" id="tbl_Inv_ProductType.Prefix" name="tbl_Inv_ProductType.Prefix" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="Prefix" value="tbl_Inv_ProductType.Prefix" ng-model="tbl_Inv_ProductType.Prefix" disabled />
                    </div>
                </div>
                <div mycssclass="@MyCSSClassName.RowInForm">
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup4">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Auto Insert PO Rate On Purchase Invoice</span>
                        <select id="tbl_Inv_ProductType.PurchaseNoteDetailRateAutoInsertFromPO" name="tbl_Inv_ProductType.PurchaseNoteDetailRateAutoInsertFromPO" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Select" ng-options="o.v as o.n for o in [{ n: 'Yes', v: true }, { n: 'No', v: false }]" data-ng-model="tbl_Inv_ProductType.PurchaseNoteDetailRateAutoInsertFromPO" ng-disabled="ng_readOnly" required>
                            <option value="">Select Action</option>
                        </select>
                        <MyValidationSpan formname="myform" fieldname="tbl_Inv_ProductType.PurchaseNoteDetailRateAutoInsertFromPO" required="true"></MyValidationSpan>
                    </div>
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup4">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Allow Purchase With Out PO</span>
                        <select id="tbl_Inv_ProductType.PurchaseNoteDetailWithOutPOAllowed" name="tbl_Inv_ProductType.PurchaseNoteDetailWithOutPOAllowed" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Select" ng-options="o.v as o.n for o in [{ n: 'Yes', v: true }, { n: 'No', v: false }]" data-ng-model="tbl_Inv_ProductType.PurchaseNoteDetailWithOutPOAllowed" ng-disabled="ng_readOnly" required>
                            <option value="">Select Action</option>
                        </select>
                        <MyValidationSpan formname="myform" fieldname="tbl_Inv_ProductType.PurchaseNoteDetailWithOutPOAllowed" required="true"></MyValidationSpan>
                    </div>
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup4">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">NonSupervised PO Allowed In Purchase Note Detail</span>
                        <select id="tbl_Inv_ProductType.NonSupervisedPOAllowedInPurchaseNoteDetail" name="tbl_Inv_ProductType.NonSupervisedPOAllowedInPurchaseNoteDetail" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Select" ng-options="o.v as o.n for o in [{ n: 'Yes', v: true }, { n: 'No', v: false }]" data-ng-model="tbl_Inv_ProductType.NonSupervisedPOAllowedInPurchaseNoteDetail" ng-disabled="ng_readOnly" required>
                            <option value="">Select Action</option>
                        </select>
                        <MyValidationSpan formname="myform" fieldname="tbl_Inv_ProductType.NonSupervisedPOAllowedInPurchaseNoteDetail" required="true"></MyValidationSpan>
                    </div>
                </div>

                <div mycssclass="@MyCSSClassName.RowInForm">
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup4">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Auto Insert ON Rate On Sales Invoice</span>
                        <select id="tbl_Inv_ProductType.SalesNoteDetailRateAutoInsertFromON" name="tbl_Inv_ProductType.SalesNoteDetailRateAutoInsertFromON" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Select" ng-options="o.v as o.n for o in [{ n: 'Yes', v: true }, { n: 'No', v: false }]" data-ng-model="tbl_Inv_ProductType.SalesNoteDetailRateAutoInsertFromON" ng-disabled="ng_readOnly" required>
                            <option value="">Select Action</option>
                        </select>
                        <MyValidationSpan formname="myform" fieldname="tbl_Inv_ProductType.SalesNoteDetailRateAutoInsertFromON" required="true"></MyValidationSpan>
                    </div>
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup4">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Allow Sales With Out ON</span>
                        <select id="tbl_Inv_ProductType.SalesNoteDetailWithOutONAllowed" name="tbl_Inv_ProductType.SalesNoteDetailWithOutONAllowed" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Select" ng-options="o.v as o.n for o in [{ n: 'Yes', v: true }, { n: 'No', v: false }]" data-ng-model="tbl_Inv_ProductType.SalesNoteDetailWithOutONAllowed" ng-disabled="ng_readOnly" required>
                            <option value="">Select Action</option>
                        </select>
                        <MyValidationSpan formname="myform" fieldname="tbl_Inv_ProductType.SalesNoteDetailWithOutONAllowed" required="true"></MyValidationSpan>
                    </div>
                </div>

                <div mycssclass="@MyCSSClassName.RowInForm">
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroupSubmit">
                        <input type="submit" value="{{ng_entryPanelSubmitBtnText}}" mycssclass="@MyCSSClassName.RowInForm_FormGroupSubmit_btn" ng-disabled="myform.$invalid || ng_DisabledBtnAll" />
                    </div>
                </div>

                <MyFieldSet legendtext="User" child="true">
                    <div mycssclass="@MyCSSClassName.RowInForm">
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Created by</span>
                            <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_Inv_ProductType.CreatedBy}}" ng-model="tbl_Inv_ProductType.CreatedBy" disabled />
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Created Date</span>
                            <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_Inv_ProductType.CreatedDate | date :  'dd-MMM-yyyy HH:mm:ss a'}}" ng-model="tbl_Inv_ProductType.CreatedDate" disabled />
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Modified by</span>
                            <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_Inv_ProductType.ModifiedBy}}" ng-model="tbl_Inv_ProductType.ModifiedBy" disabled />
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Modified Date</span>
                            <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_Inv_ProductType.ModifiedDate | date :  'dd-MMM-yyyy HH:mm:ss a'}}" ng-model="tbl_Inv_ProductType.ModifiedDate" disabled />
                        </div>
                    </div>
                </MyFieldSet>
            </MyFieldSet>
        </form>
    </div>

    @*-----------------------------------this is data list view-----------------------------*@
    <div mycssclass="@MyCSSClassName.Table_Div">
        <table mycssclass="@MyCSSClassName.Table_Table">
            <tr>
                <th>
                    Product Type
                </th>
                <th>
                    Prefix
                </th>
                <th>
                    Purchase Note
                </th>
                <th>
                    Sales Note
                </th>
                <th></th>
            </tr>
            <tr ng-repeat="itm in pageddata.Data">
                <td>
                    {{itm.ProductType}}
                </td>
                <td>
                    {{itm.Prefix}}
                </td>
                <td>
                    Auto PO Rate: {{itm.PurchaseNoteDetailRateAutoInsertFromPO ? 'Yes' : 'No'}}
                    <br />
                    Purchase With Out PO: {{itm.PurchaseNoteDetailWithOutPOAllowed ? 'Yes' : 'No'}}
                    <br />
                    NonSupervised PO In Purchase: {{itm.NonSupervisedPOAllowedInPurchaseNoteDetail ? 'Yes' : 'No'}}
                </td>
                <td>
                    Auto ON Rate: {{itm.SalesNoteDetailRateAutoInsertFromON ? 'Yes' : 'No'}}
                    <br />
                    Sales With Out ON: {{itm.SalesNoteDetailWithOutONAllowed ? 'Yes' : 'No'}}
                </td>
                <td>
                    <div mycssclass="@MyCSSClassName.Table_OptColDiv">
                        <MyButton operation="@MyButtonOperation.View" ng-click="GetRow(itm.ID,'View')"></MyButton>|
                        <MyButton operation="@MyButtonOperation.Edit" ng-click="GetRow(itm.ID,'Edit')"></MyButton>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <div mycssclass="@MyCSSClassName.Table_NavDiv">
                        <MyButton operation="@MyButtonOperation.first" ng-click="pageNavigation('first')" ng-disabled="ng_DisabledBtnPageF"></MyButton>
                        <MyButton operation="@MyButtonOperation.back" ng-click="pageNavigation('back')" ng-disabled="ng_DisabledBtnPageP"></MyButton>
                        <MyButton operation="@MyButtonOperation.RecordNo" ng-click="pageNavigation('back')" ng-disabled="ng_DisabledBtnPageP">{{pageddata.CurrentPage}} of {{pageddata.TotalPages}}</MyButton>
                        <MyButton operation="@MyButtonOperation.next" ng-click="pageNavigation('next')" ng-disabled="ng_DisabledBtnPageN"></MyButton>
                        <MyButton operation="@MyButtonOperation.last" ng-click="pageNavigation('last')" ng-disabled="ng_DisabledBtnPageL"></MyButton>
                    </div>
                </td>
            </tr>

        </table>
    </div>
    @*-----------------------------------this is search view-----------------------------*@
    @await Html.PartialAsync("_Filter", "GeneralSettingsProductTypeCtlr")
</div>
