<MyViewName>
    <a href="" ng-click="DivHideShow(null,null,'BMRDetailRawMasterCtlr','BMRMasterCtlr', this);">Batch Record</a>
    <MyViewName child="true"> BMR Detail</MyViewName>
</MyViewName>
<div>
    <div>
        <div mycssclass="@MyCSSClassName.Table_DivSubPage">
            <table mycssclass="@MyCSSClassName.Table_TableSubPage">
                <tr>
                    <th>
                        Batch No
                    </th>
                    <th>
                        Doc Date
                    </th>
                    <th>
                        Mfg
                    </th>
                    <th>
                        Expiry
                    </th>
                    <th>
                        Product
                    </th>
                    <th>
                        Batch Size
                    </th>
                </tr>
                <tr>
                    <td>
                        {{MasterObject.BatchNo}}
                    </td>
                    <td>
                        {{MasterObject.DocDate}}
                    </td>
                    <td>
                        {{MasterObject.BatchMfgDate}}
                    </td>
                    <td>
                        {{MasterObject.BatchExpiryDate}}
                    </td>
                    <td>
                        {{MasterObject.FK_tbl_Inv_ProductRegistrationDetail_IDName}}
                    </td>
                    <td>
                        {{MasterObject.BatchSize}}-{{MasterObject.BatchSizeUnit}}
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                    </td>
                </tr>
            </table>
        </div>
    </div>


    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#BMRFormulaType">
                <span class="fa fa-flask" style="font-size:large; color:steelblue;"></span> 
                BMR Formula Type
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#BMRProcess">
                <span class="fa fa-gears" style="font-size:large; color:steelblue;"></span> 
                BMR Process(s)
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="BMRFormulaType" class="container tab-pane active" style="border-left: 1px solid lightgray; border-right: 1px solid lightgray;">
            @*-----------------------------------this is entry panel-----------------------------*@
            <MyButton operation="@MyButtonOperation.Add"></MyButton>
            <div ng-hide="ng_entryPanelHide">
                <form name="myform" role="form" ng-submit="PostRow(); myform.$setPristine();" novalidate="">
                    @Html.Hidden("tbl_Pro_BatchMaterialRequisitionDetail_RawMaster.ID", "{{tbl_Pro_BatchMaterialRequisitionDetail_RawMaster.ID}}")
                    @Html.Hidden("tbl_Pro_BatchMaterialRequisitionDetail_RawMaster.FK_tbl_Pro_BatchMaterialRequisitionMaster_ID", "{{tbl_Pro_BatchMaterialRequisitionDetail_RawMaster.FK_tbl_Pro_BatchMaterialRequisitionMaster_ID}}")

                    <MyFieldSet legendtext="Entry Form">

                        <div mycssclass="@MyCSSClassName.RowInForm">
                            <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                                <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Formulation Type</span>
                                <select id="tbl_Pro_BatchMaterialRequisitionDetail_RawMaster.FK_tbl_Pro_CompositionFilterPolicyDetail_ID" name="tbl_Pro_BatchMaterialRequisitionDetail_RawMaster.FK_tbl_Pro_CompositionFilterPolicyDetail_ID" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Select" ng-options="x.ID as x.FilterName for x in CompositionFilterList" data-ng-model="tbl_Pro_BatchMaterialRequisitionDetail_RawMaster.FK_tbl_Pro_CompositionFilterPolicyDetail_ID" ng-disabled="ng_readOnly || tbl_Pro_BatchMaterialRequisitionDetail_RawMaster.TotalDetail > 0" required>
                                    <option value="">Select Type</option>
                                </select>
                                <MyValidationSpan formname="myform" fieldname="tbl_Pro_BatchMaterialRequisitionDetail_RawMaster.FK_tbl_Pro_CompositionFilterPolicyDetail_ID" required="true"></MyValidationSpan>
                            </div>
                            <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                                <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">WareHouse</span>
                                <MyButtonModal fieldname="tbl_Pro_BatchMaterialRequisitionDetail_RawMaster.FK_tbl_Inv_WareHouseMaster_IDName" ng-click="OpenWHMSearchModalGeneral('General', 0, 'tbl_Pro_BatchMaterialRequisitionDetail_RawMaster.FK_tbl_Inv_WareHouseMaster_IDName', WHMSearch_CtrlFunction_Ref_InvokeOnSelection);myform['tbl_Pro_BatchMaterialRequisitionDetail_RawMaster.FK_tbl_Inv_WareHouseMaster_IDName'].$dirty=true;" ng-disabled="ng_readOnly || tbl_Pro_BatchMaterialRequisitionDetail_RawMaster.TotalDetail > 0" required></MyButtonModal>
                                <MyValidationSpan formname="myform" fieldname="tbl_Pro_BatchMaterialRequisitionDetail_RawMaster.FK_tbl_Inv_WareHouseMaster_IDName" required="true"></MyValidationSpan>
                            </div>
                        </div>

                        <div mycssclass="@MyCSSClassName.RowInForm">
                            <div mycssclass="@MyCSSClassName.RowInForm_FormGroupSubmit">
                                <input type="submit" value="{{ng_entryPanelSubmitBtnText}}" mycssclass="@MyCSSClassName.RowInForm_FormGroupSubmit_btn" ng-disabled="myform.$invalid || ng_DisabledBtnAll" />
                            </div>
                        </div>

                        <MyFieldSet legendtext="User" child="true">
                            <div mycssclass="@MyCSSClassName.RowInForm">
                                <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                                    <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Created by</span>
                                    <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_Pro_BatchMaterialRequisitionDetail_RawMaster.CreatedBy}}" ng-model="tbl_Pro_BatchMaterialRequisitionDetail_RawMaster.CreatedBy" disabled />
                                </div>
                                <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                                    <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Created Date</span>
                                    <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_Pro_BatchMaterialRequisitionDetail_RawMaster.CreatedDate | date :  'dd-MMM-yyyy HH:mm:ss a'}}" ng-model="tbl_Pro_BatchMaterialRequisitionDetail_RawMaster.CreatedDate" disabled />
                                </div>
                                <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                                    <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Modified by</span>
                                    <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_Pro_BatchMaterialRequisitionDetail_RawMaster.ModifiedBy}}" ng-model="tbl_Pro_BatchMaterialRequisitionDetail_RawMaster.ModifiedBy" disabled />
                                </div>
                                <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                                    <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Modified Date</span>
                                    <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_Pro_BatchMaterialRequisitionDetail_RawMaster.ModifiedDate | date :  'dd-MMM-yyyy HH:mm:ss a'}}" ng-model="tbl_Pro_BatchMaterialRequisitionDetail_RawMaster.ModifiedDate" disabled />
                                </div>
                            </div>
                        </MyFieldSet>
                    </MyFieldSet>
                </form>
            </div>

            @*-----------------------------------this is data list view-----------------------------*@
            <div mycssclass="@MyCSSClassName.Table_Div">
                <table mycssclass="@MyCSSClassName.Table_Table">
                    <tr>
                        <th>
                            Formulation Type
                        </th>
                        <th>
                            WareHouse
                        </th>
                        <th>
                            Total Items
                        </th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="itm in pageddata.Data">
                        <td>
                            {{itm.FK_tbl_Pro_CompositionFilterPolicyDetail_IDName}}
                        </td>
                        <td>
                            {{itm.FK_tbl_Inv_WareHouseMaster_IDName}}
                        </td>
                        <td>
                            {{itm.TotalItems}}
                        </td>
                        <td>
                            <div mycssclass="@MyCSSClassName.Table_OptColDiv">
                                <MyButton operation="@MyButtonOperation.View" ng-click="GetRow(itm.ID,'View')"></MyButton>|
                                <MyButton operation="@MyButtonOperation.Edit" ng-click="GetRow(itm.ID,'Edit')"></MyButton>|
                                <MyButton operation="@MyButtonOperation.Delete" ng-click="GetRow(itm.ID,'Delete')"></MyButton>
                            </div>
                            <div mycssclass="@MyCSSClassName.Table_OptColDiv">
                                <button ng-click="itm['MasterObject']=MasterObject; DivHideShow('BMRDetailRawDetailItemCtlr',itm,'BMRDetailRawMasterCtlr','BMRDetailRawDetailItemCtlr', null);" mycssclass="@MyCSSClassName.Table_OperationBtn" title="Goto Raw Ingredients Items">Raw Items <span class="fa fa-leaf"></span></button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <div mycssclass="@MyCSSClassName.Table_NavDiv">
                                <MyButton operation="@MyButtonOperation.first" ng-click="pageNavigation('first')" ng-disabled="ng_DisabledBtnPageF"></MyButton>
                                <MyButton operation="@MyButtonOperation.back" ng-click="pageNavigation('back')" ng-disabled="ng_DisabledBtnPageP"></MyButton>
                                <MyButton operation="@MyButtonOperation.RecordNo" ng-click="pageNavigation('back')" ng-disabled="ng_DisabledBtnPageP">{{pageddata.CurrentPage}} of {{pageddata.TotalPages}}</MyButton>
                                <MyButton operation="@MyButtonOperation.next" ng-click="pageNavigation('next')" ng-disabled="ng_DisabledBtnPageN"></MyButton>
                                <MyButton operation="@MyButtonOperation.last" ng-click="pageNavigation('last')" ng-disabled="ng_DisabledBtnPageL"></MyButton>
                            </div>
                        </td>
                    </tr>

                </table>
            </div>
            @*-----------------------------------this is search view-----------------------------*@
            @await Html.PartialAsync("_Filter", "BMRDetailRawMasterCtlr")
        </div>
        
        <div id="BMRProcess" class="container tab-pane fade" style="border-left: 1px solid lightgray; border-right: 1px solid lightgray;">
            <div ng-controller="BMRProcessCtlr">
                @*-----------------------------------this is entry panel-----------------------------*@
                <MyButton operation="@MyButtonOperation.Add"></MyButton>
                <div ng-hide="ng_entryPanelHide">
                    <form name="myform" role="form" ng-submit="PostRow(); myform.$setPristine();" novalidate="">
                        @Html.Hidden("tbl_Pro_BatchMaterialRequisitionMaster_ProcessBMR.ID", "{{tbl_Pro_BatchMaterialRequisitionMaster_ProcessBMR.ID}}")
                        @Html.Hidden("tbl_Pro_BatchMaterialRequisitionMaster_ProcessBMR.FK_tbl_Pro_BatchMaterialRequisitionMaster_ID", "{{tbl_Pro_BatchMaterialRequisitionMaster_ProcessBMR.FK_tbl_Pro_BatchMaterialRequisitionMaster_ID}}")

                  
                        <MyFieldSet legendtext="Entry Form">

                            <div mycssclass="@MyCSSClassName.RowInForm">
                                <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                                    <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Procedure</span>
                                    <select id="tbl_Pro_BatchMaterialRequisitionMaster_ProcessBMR.FK_tbl_Pro_Procedure_ID" name="tbl_Pro_BatchMaterialRequisitionMaster_ProcessBMR.FK_tbl_Pro_Procedure_ID" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Select" ng-options="x.ID as x.ProcedureName for x in BMRProcedureList" data-ng-model="tbl_Pro_BatchMaterialRequisitionMaster_ProcessBMR.FK_tbl_Pro_Procedure_ID" ng-disabled="ng_readOnly" required>
                                        <option value="">Select Procedure</option>
                                    </select>
                                    <MyValidationSpan formname="myform" fieldname="tbl_Pro_BatchMaterialRequisitionMaster_ProcessBMR.FK_tbl_Pro_Procedure_ID" required="true"></MyValidationSpan>
                                </div>
                                <div mycssclass="@MyCSSClassName.RowInForm_FormGroup4">
                                    <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Sample Product For QC</span>
                                    <MyButtonModal fieldname="tbl_Pro_BatchMaterialRequisitionMaster_ProcessBMR.FK_tbl_Inv_ProductRegistrationDetail_ID_QCSampleName" ng-click="OpenProductSearchModalGeneral('ProProcess', 0, 'tbl_Pro_BatchMaterialRequisitionMaster_ProcessBMR.FK_tbl_Inv_ProductRegistrationDetail_ID_QCSampleName', ProductSearch_CtrlFunction_Ref_InvokeOnSelection, null, 0); myform['tbl_Pro_BatchMaterialRequisitionMaster_ProcessBMR.FK_tbl_Inv_ProductRegistrationDetail_ID_QCSampleName'].$dirty=true;" ng-disabled="ng_readOnly"></MyButtonModal>
                                    <MyValidationSpan formname="myform" fieldname="tbl_Pro_BatchMaterialRequisitionMaster_ProcessBMR.FK_tbl_Inv_ProductRegistrationDetail_ID_QCSampleName"></MyValidationSpan>
                                </div>
                                <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                                    <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req"> QA Clearance Before Start</span>
                                    <select id="tbl_Pro_BatchMaterialRequisitionMaster_ProcessBMR.IsQAClearanceBeforeStart" name="tbl_Pro_BatchMaterialRequisitionMaster_ProcessBMR.IsQAClearanceBeforeStart" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Select" ng-options="o.v as o.n for o in [{ n: 'Yes', v: true }, { n: 'No', v: false }]" data-ng-model="tbl_Pro_BatchMaterialRequisitionMaster_ProcessBMR.IsQAClearanceBeforeStart" ng-disabled="ng_readOnly" required>
                                        <option value="">Select</option>
                                    </select>
                                    <MyValidationSpan formname="myform" fieldname="tbl_Pro_BatchMaterialRequisitionMaster_ProcessBMR.IsQAClearanceBeforeStart" required="true"></MyValidationSpan>
                                </div>
                            </div>

                            <div mycssclass="@MyCSSClassName.RowInForm">
                                <div mycssclass="@MyCSSClassName.RowInForm_FormGroupSubmit">
                                    <input type="submit" value="{{ng_entryPanelSubmitBtnText}}" mycssclass="@MyCSSClassName.RowInForm_FormGroupSubmit_btn" ng-disabled="myform.$invalid || ng_DisabledBtnAll" />
                                </div>
                            </div>

                            <MyFieldSet legendtext="User" child="true">
                                <div mycssclass="@MyCSSClassName.RowInForm">
                                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Created by</span>
                                        <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_Pro_BatchMaterialRequisitionMaster_ProcessBMR.CreatedBy}}" ng-model="tbl_Pro_BatchMaterialRequisitionMaster_ProcessBMR.CreatedBy" disabled />
                                    </div>
                                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Created Date</span>
                                        <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_Pro_BatchMaterialRequisitionMaster_ProcessBMR.CreatedDate | date :  'dd-MMM-yyyy HH:mm:ss a'}}" ng-model="tbl_Pro_BatchMaterialRequisitionMaster_ProcessBMR.CreatedDate" disabled />
                                    </div>
                                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Modified by</span>
                                        <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_Pro_BatchMaterialRequisitionMaster_ProcessBMR.ModifiedBy}}" ng-model="tbl_Pro_BatchMaterialRequisitionMaster_ProcessBMR.ModifiedBy" disabled />
                                    </div>
                                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Modified Date</span>
                                        <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_Pro_BatchMaterialRequisitionMaster_ProcessBMR.ModifiedDate | date :  'dd-MMM-yyyy HH:mm:ss a'}}" ng-model="tbl_Pro_BatchMaterialRequisitionMaster_ProcessBMR.ModifiedDate" disabled />
                                    </div>
                                </div>
                            </MyFieldSet>
                        </MyFieldSet>
                    </form>
                </div>
                @*-----------------------------------this is data list view-----------------------------*@
                <div mycssclass="@MyCSSClassName.Table_Div">
                    <table mycssclass="@MyCSSClassName.Table_Table">
                        <tr>
                            <th>
                                Procedure Name
                            </th>
                            <th>
                                QC Sample Product
                            </th>
                            <th>
                                QA Req
                            </th>
                            <th>
                                Status
                            </th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="itm in pageddata.Data">
                            <td>
                                {{itm.FK_tbl_Pro_Procedure_IDName}}
                            </td>
                            <td>
                                {{itm.FK_tbl_Inv_ProductRegistrationDetail_ID_QCSampleName}}
                            </td>
                            <td>
                                {{itm.IsQAClearanceBeforeStart ? 'Yes': 'No'}}
                            </td>
                            <td>
                                {{itm.IsCompleted ? 'Completed' : 'In-Process'}}
                            </td>
                            <td>
                                <div mycssclass="@MyCSSClassName.Table_OptColDiv">
                                    <MyButton operation="@MyButtonOperation.View" ng-click="GetRow(itm.ID,'View')"></MyButton>|
                                    <MyButton operation="@MyButtonOperation.Edit" ng-click="GetRow(itm.ID,'Edit')"></MyButton>|
                                    <MyButton operation="@MyButtonOperation.Delete" ng-click="GetRow(itm.ID,'Delete')"></MyButton>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6">
                                <div mycssclass="@MyCSSClassName.Table_NavDiv">
                                    <MyButton operation="@MyButtonOperation.first" ng-click="pageNavigation('first')" ng-disabled="ng_DisabledBtnPageF"></MyButton>
                                    <MyButton operation="@MyButtonOperation.back" ng-click="pageNavigation('back')" ng-disabled="ng_DisabledBtnPageP"></MyButton>
                                    <MyButton operation="@MyButtonOperation.RecordNo" ng-click="pageNavigation('back')" ng-disabled="ng_DisabledBtnPageP">{{pageddata.CurrentPage}} of {{pageddata.TotalPages}}</MyButton>
                                    <MyButton operation="@MyButtonOperation.next" ng-click="pageNavigation('next')" ng-disabled="ng_DisabledBtnPageN"></MyButton>
                                    <MyButton operation="@MyButtonOperation.last" ng-click="pageNavigation('last')" ng-disabled="ng_DisabledBtnPageL"></MyButton>
                                </div>
                            </td>
                        </tr>

                    </table>
                </div>
                @*-----------------------------------this is search view-----------------------------*@
                @await Html.PartialAsync("_Filter", "BMRProcessCtlr")
            </div>
        </div>

    </div>

    @await Html.PartialAsync("_ReportPanelGeneral")

</div>


