@{
    ViewBag.Title = "QA BMR";
}
@section Scripts {
    <script src="~/angular.js/Angular-QA/BMR/bmrqaindex.211024.js"></script>
}
<div ng-controller="BMRMasterCtlr" class="container">

    <div id="BMRMasterCtlr">
        <MyViewName>Batch Record</MyViewName>
        @*-----------------------------------this is entry panel-----------------------------*@
        <MyButton operation="@MyButtonOperation.Add"></MyButton>
        <div ng-hide="ng_entryPanelHide">
            <form name="myform" role="form" ng-submit="PostRow(); myform.$setPristine();" novalidate>
                <MyAntiforgeryToken></MyAntiforgeryToken>
                @Html.Hidden("tbl_Pro_BatchMaterialRequisitionMaster.ID", "{{tbl_Pro_BatchMaterialRequisitionMaster.ID}}")
                @Html.Hidden("tbl_Pro_BatchMaterialRequisitionMaster.TotalProd", "{{tbl_Pro_BatchMaterialRequisitionMaster.TotalProd}}")
                @Html.Hidden("tbl_Pro_BatchMaterialRequisitionMaster.Cost", "{{tbl_Pro_BatchMaterialRequisitionMaster.Cost}}")
                @Html.Hidden("tbl_Pro_BatchMaterialRequisitionMaster.FinishedDate", "{{tbl_Pro_BatchMaterialRequisitionMaster.FinishedDate}}")

                <MyFieldSet legendtext="Entry Form">
                    <div mycssclass="@MyCSSClassName.RowInForm">
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup2">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Doc No</span>
                            <input id="tbl_Pro_BatchMaterialRequisitionMaster.DocNo" name="tbl_Pro_BatchMaterialRequisitionMaster.DocNo" type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="00001" value="tbl_Pro_BatchMaterialRequisitionMaster.DocNo" ng-model="tbl_Pro_BatchMaterialRequisitionMaster.DocNo" ng-disabled="ng_readOnly" readonly />
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup2">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Doc Date</span>
                            <input id="tbl_Pro_BatchMaterialRequisitionMaster.DocDate" name="tbl_Pro_BatchMaterialRequisitionMaster.DocDate" type="date" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="{{tbl_Pro_BatchMaterialRequisitionMaster.DocDate}}" ng-model="tbl_Pro_BatchMaterialRequisitionMaster.DocDate" ng-disabled="ng_readOnly" required />
                            <MyValidationSpan formname="myform" fieldname="tbl_Pro_BatchMaterialRequisitionMaster.DocDate" required="true"></MyValidationSpan>
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup2">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Mfg Date</span>
                            <input id="tbl_Pro_BatchMaterialRequisitionMaster.BatchMfgDate" name="tbl_Pro_BatchMaterialRequisitionMaster.BatchMfgDate" type="date" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="{{tbl_Pro_BatchMaterialRequisitionMaster.BatchMfgDate}}" ng-model="tbl_Pro_BatchMaterialRequisitionMaster.BatchMfgDate" ng-disabled="ng_readOnly" required />
                            <MyValidationSpan formname="myform" fieldname="tbl_Pro_BatchMaterialRequisitionMaster.BatchMfgDate" required="true"></MyValidationSpan>
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup2">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Expiry Date</span>
                            <input id="tbl_Pro_BatchMaterialRequisitionMaster.BatchExpiryDate" name="tbl_Pro_BatchMaterialRequisitionMaster.BatchExpiryDate" type="date" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="{{tbl_Pro_BatchMaterialRequisitionMaster.BatchExpiryDate}}" ng-model="tbl_Pro_BatchMaterialRequisitionMaster.BatchExpiryDate" ng-disabled="ng_readOnly" required />
                            <MyValidationSpan formname="myform" fieldname="tbl_Pro_BatchMaterialRequisitionMaster.BatchExpiryDate" required="true"></MyValidationSpan>
                        </div>
                    </div>

                    <div mycssclass="@MyCSSClassName.RowInForm">
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup5">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Manufacturing Product</span>
                            <MyButtonModal fieldname="tbl_Pro_BatchMaterialRequisitionMaster.FK_tbl_Inv_ProductRegistrationDetail_IDName" ng-click="OpenProductSearchModalGeneral('BMRSemi', 0, 'tbl_Pro_BatchMaterialRequisitionMaster.FK_tbl_Inv_ProductRegistrationDetail_IDName', ProductSearch_CtrlFunction_Ref_InvokeOnSelection, null, 0); myform['tbl_Pro_BatchMaterialRequisitionMaster.FK_tbl_Inv_ProductRegistrationDetail_IDName'].$dirty=true;" ng-disabled="ng_readOnly || ng_readOnlyOnEdit" required></MyButtonModal>
                            <MyValidationSpan formname="myform" fieldname="tbl_Pro_BatchMaterialRequisitionMaster.FK_tbl_Inv_ProductRegistrationDetail_IDName" required="true"></MyValidationSpan>
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">BatchSize In {{tbl_Pro_BatchMaterialRequisitionMaster.BatchSizeUnit}}</span>
                            <input id="tbl_Pro_BatchMaterialRequisitionMaster.BatchSize" name="tbl_Pro_BatchMaterialRequisitionMaster.BatchSize" type="number" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" ng-model="tbl_Pro_BatchMaterialRequisitionMaster.BatchSize" ng-pattern="wholeNumberOrNot" ng-disabled="ng_readOnly" min="tbl_Pro_BatchMaterialRequisitionMaster.IsRawDispened ? tbl_Pro_BatchMaterialRequisitionMaster.BatchSize : 1" required />
                            <MyValidationSpan formname="myform" fieldname="tbl_Pro_BatchMaterialRequisitionMaster.BatchSize" required="true"></MyValidationSpan>
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Batch No</span>
                            <input type="text" id="tbl_Pro_BatchMaterialRequisitionMaster.BatchNo" name="tbl_Pro_BatchMaterialRequisitionMaster.BatchNo" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="...." value="tbl_Pro_BatchMaterialRequisitionMaster.BatchNo" ng-model="tbl_Pro_BatchMaterialRequisitionMaster.BatchNo" ng-disabled="ng_readOnly" minlength="1" maxlength="25" required />
                            <MyValidationSpan formname="myform" fieldname="tbl_Pro_BatchMaterialRequisitionMaster.BatchNo" required="true" minlength="1" maxlength="25"></MyValidationSpan>
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup1">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Dispensed</span>
                            <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_Pro_BatchMaterialRequisitionMaster.IsRawDispened ? 'Yes' : 'No'}}" disabled />
                        </div>
                    </div>

                    <div mycssclass="@MyCSSClassName.RowInForm">
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroupSubmit">
                            <input type="submit" value="{{ng_entryPanelSubmitBtnText}}" mycssclass="@MyCSSClassName.RowInForm_FormGroupSubmit_btn" ng-disabled="myform.$invalid || ng_DisabledBtnAll" />
                        </div>
                    </div>

                    <MyFieldSet legendtext="User" child="true">
                        <div mycssclass="@MyCSSClassName.RowInForm">
                            <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                                <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Created by</span>
                                <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_Pro_BatchMaterialRequisitionMaster.CreatedBy}}" ng-model="tbl_Pro_BatchMaterialRequisitionMaster.CreatedBy" disabled />
                            </div>
                            <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                                <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Created Date</span>
                                <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_Pro_BatchMaterialRequisitionMaster.CreatedDate | date :  'dd-MMM-yyyy HH:mm:ss a'}}" ng-model="tbl_Pro_BatchMaterialRequisitionMaster.CreatedDate" disabled />
                            </div>
                            <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                                <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Modified by</span>
                                <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_Pro_BatchMaterialRequisitionMaster.ModifiedBy}}" ng-model="tbl_Pro_BatchMaterialRequisitionMaster.ModifiedBy" disabled />
                            </div>
                            <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                                <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Modified Date</span>
                                <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_Pro_BatchMaterialRequisitionMaster.ModifiedDate | date :  'dd-MMM-yyyy HH:mm:ss a'}}" ng-model="tbl_Pro_BatchMaterialRequisitionMaster.ModifiedDate" disabled />
                            </div>
                        </div>
                    </MyFieldSet>
                </MyFieldSet>
            </form>
        </div>
        @*-----------------------------------this is data list view-----------------------------*@
        <div mycssclass="@MyCSSClassName.Table_Div">
            <table mycssclass="@MyCSSClassName.Table_Table">
                <tr>
                    <th>
                        Doc No
                    </th>
                    <th>
                        Doc Date
                    </th>
                    <th>
                        BatchNo
                    </th>
                    <th>
                        Mfg
                    </th>
                    <th>
                        Expiry
                    </th>
                    <th>
                        Product
                    </th>
                    <th>
                        Raw Batch Size
                    </th>
                    <th>
                        Dimension
                    </th>
                    <th>
                        Package BatchSize
                    </th>
                    <th>
                        Total Prod
                    </th>
                    <th>
                        Finished
                    </th>
                    <th>
                        BMR / BPR Process(s)
                    </th>
                    <th>
                        [R / P] Dispensed
                    </th>
                    <th></th>
                </tr>
                <tr ng-repeat="itm in pageddata.Data">
                    <td>
                        {{itm.DocNo}}
                    </td>
                    <td>
                        {{itm.DocDate}}
                    </td>
                    <td>
                        {{itm.BatchNo}}
                    </td>
                    <td>
                        {{itm.BatchMfgDate}}
                    </td>
                    <td>
                        {{itm.BatchExpiryDate}}
                    </td>
                    <td>
                        {{itm.FK_tbl_Inv_ProductRegistrationDetail_IDName}}
                    </td>
                    <td style="background-color:lightsteelblue;">
                        {{itm.BatchSize}}-{{itm.BatchSizeUnit}}
                    </td>
                    <td>
                        {{itm.DimensionValue}}-{{itm.FK_tbl_Inv_MeasurementUnit_ID_DimensionName}}
                    </td>
                    <td style="background-color:lightsteelblue;">
                        {{itm.TotalPackageBatchSize}}-{{itm.BatchSizeUnit}}
                    </td>
                    <td>
                        {{itm.TotalProd}}-{{itm.BatchSizeUnit}}
                        <br />
                        <div class="progress" style="background-color:lightpink;">
                            <div class="progress-bar" style="background-color:lightgreen;width:{{itm.TotalProd/itm.BatchSize*100}}%;"></div>
                        </div>
                    </td>
                    <td>
                        {{itm.FinishedDate}}
                    </td>
                    <td>
                        {{itm.BMRProcesses}} / {{itm.BPRProcesses}}
                    </td>
                    <td>
                        [{{itm.IsDispensedR ? 'Yes' : 'No'}} / {{itm.IsDispensedP ? 'Yes' : 'No'}}]
                    </td>
                    <td>
                        <div mycssclass="@MyCSSClassName.Table_OptColDiv">
                            <MyButton operation="@MyButtonOperation.View" ng-click="GetRow(itm.ID,'View')"></MyButton>|
                            <MyButton operation="@MyButtonOperation.Edit" ng-click="GetRow(itm.ID,'Edit')"></MyButton>|
                            <MyButton operation="@MyButtonOperation.Delete" ng-click="GetRow(itm.ID,'Delete')"></MyButton>
                        </div>
                        <div mycssclass="@MyCSSClassName.Table_OptColDiv">
                            <button ng-click="
                                                DivHideShow('BMRDetailRawMasterCtlr',itm,'BMRMasterCtlr','BMRDetailRawMasterCtlr', null);
                                                DivHideShow('BMRProcessCtlr',itm,null,'BMRProcessCtlr', null);
                                             "
                                    mycssclass="@MyCSSClassName.Table_OperationBtn" title="Goto Raw Detail">
                                BMR <span class="fa fa-leaf"></span>
                            </button>|
                            <button ng-click="DivHideShow('BMRDetailPackagingMasterCtlr',itm,'BMRMasterCtlr','BMRDetailPackagingMasterCtlr', null);" mycssclass="@MyCSSClassName.Table_OperationBtn" title="Goto Coupling Detail">BPR <span class="fa fa-object-group"></span></button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="14">
                        <div mycssclass="@MyCSSClassName.Table_NavDiv">
                            <MyButton operation="@MyButtonOperation.first" ng-click="pageNavigation('first')" ng-disabled="ng_DisabledBtnPageF"></MyButton>
                            <MyButton operation="@MyButtonOperation.back" ng-click="pageNavigation('back')" ng-disabled="ng_DisabledBtnPageP"></MyButton>
                            <MyButton operation="@MyButtonOperation.RecordNo" ng-click="pageNavigation('back')" ng-disabled="ng_DisabledBtnPageP">{{pageddata.CurrentPage}} of {{pageddata.TotalPages}}</MyButton>
                            <MyButton operation="@MyButtonOperation.next" ng-click="pageNavigation('next')" ng-disabled="ng_DisabledBtnPageN"></MyButton>
                            <MyButton operation="@MyButtonOperation.last" ng-click="pageNavigation('last')" ng-disabled="ng_DisabledBtnPageL"></MyButton>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        @*-----------------------------------this is search view-----------------------------*@
        @await Html.PartialAsync("_Filter", "BMRMasterCtlr")
        <br />
        <input type="button" class="btn btn-outline-primary btn-sm" ng-init="cautionhide=true" value="Cautions" ng-click="cautionhide ? cautionhide=false: cautionhide=true;" />
        <div style="font-size:x-small;" ng-hide="cautionhide">
            <p>1. Batch No Cannot be duplicate</p>
            <p>2. Raw Batch Size shouldnot be less then Total Packaging Batch Size</p>
            <p>3. No Changes is allowed when batch is closed</p>
            <p>4. Change of Formula Type / WareHouse is not allowed when detail has items</p>
            <p>5. Change of Ingredient Product is not allowed when dispensed</p>
            <p>6. Change of Ingredient Qty shouldnot be less then dispensed Qty</p>
            <p>7. Change of Primary Product is not Allowed</p>
            <p>8. Change of Secondary Product is not Allowed when used in Production Transfer</p>
            <p>9. Batch Size cannot be reduced If any item dispensed</p>
        </div>
    </div>


    <div ng-controller="BMRDetailRawMasterCtlr">
        <div id="BMRDetailRawMasterCtlr" style="display: none;">
            @await Html.PartialAsync("BMRDetailRawMaster")
        </div>
        <div ng-controller="BMRDetailRawDetailItemCtlr">
            <div id="BMRDetailRawDetailItemCtlr" style="display: none;">
                @await Html.PartialAsync("BMRDetailRawDetailItem")
            </div>
        </div>
    </div>



    <div ng-controller="BMRDetailPackagingMasterCtlr">
        <div id="BMRDetailPackagingMasterCtlr" style="display: none;">
            @await Html.PartialAsync("BMRDetailPackagingMaster")
        </div>
        <div ng-controller="BMRDetailPackagingDetailFilterCtlr">
            <div id="BMRDetailPackagingDetailFilterCtlr" style="display: none;">
                @await Html.PartialAsync("BMRDetailPackagingDetailFilter")
            </div>
            <div ng-controller="BMRDetailPackagingDetailFilterDetailItemCtlr">
                <div id="BMRDetailPackagingDetailFilterDetailItemCtlr" style="display: none;">
                    @await Html.PartialAsync("BMRDetailPackagingDetailFilterDetailItem")
                </div>
            </div>
        </div>
    </div>

    @*-----------------------------------this is Modal view-----------------------------*@
    @await Html.PartialAsync("_ProductSearchModalGeneral")
    @await Html.PartialAsync("_WHMSearchModalGeneral")


    <!-- Modal -->
    <div class="modal fade" id="StockReservationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="StockReservationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="StockReservationModalLabel">Stock Reservation Process is underway</h5>
                </div>
                <div class="modal-body">
                    <p><b>Status: </b>{{Status}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" ng-click="CloseStockReservationModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>




