<MyViewName>
    <a href="" ng-click="DivHideShow(null,null,'PurchaseOrderImportDetailCtlr','PurchaseOrderImportMasterCtlr', this);">Purchase Order</a>
    <MyViewName child="true"> Detail</MyViewName>
</MyViewName>
<div>
    <div>
        <div mycssclass="@MyCSSClassName.Table_DivSubPage">
            <table mycssclass="@MyCSSClassName.Table_TableSubPage">
                <tr>
                    <th>
                        Doc No
                        <br />
                        Doc Date
                    </th>
                    <th>
                        Import Terms
                        <br />
                        Local Receiving A/c
                    </th>
                    <th>
                        Manufacturer
                        <br />
                        Supplier
                    </th>
                    <th>
                        Indenter
                    </th>
                </tr>
                <tr>
                    <td>
                        <b>{{MasterObject.PONo}}</b>
                        <br />
                        {{MasterObject.PODate}}
                    </td>
                    <td>
                        <b>{{MasterObject.FK_tbl_Inv_PurchaseOrder_ImportTerms_IDName}}</b>
                        <br />
                        {{MasterObject.FK_tbl_Ac_ChartOfAccounts_IDName}}
                    </td>
                    <td>
                        <b>{{MasterObject.FK_tbl_Inv_PurchaseOrder_Manufacturer_IDName}}</b>
                        <br />
                        {{MasterObject.FK_tbl_Inv_PurchaseOrder_Supplier_IDName}}
                    </td>
                    <td>
                        <b>{{MasterObject.FK_tbl_Inv_PurchaseOrder_Indenter_IDName}}</b>
                        <br />
                        Date: {{MasterObject.IndentDate}} #: {{MasterObject.IndentNo}}
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                    </td>
                </tr>
            </table>
        </div>
    </div>

    @*-----------------------------------this is entry panel-----------------------------*@

    <MyButton operation="@MyButtonOperation.Add"></MyButton>
    <div ng-hide="ng_entryPanelHide">
        <form name="myform" role="form" ng-submit="PostRow(); myform.$setPristine();" novalidate="">
            @Html.Hidden("tbl_Inv_PurchaseOrderDetail.ID", "{{tbl_Inv_PurchaseOrderDetail.ID}}")
            @Html.Hidden("tbl_Inv_PurchaseOrderDetail.FK_tbl_Inv_PurchaseOrderMaster_ID", "{{tbl_Inv_PurchaseOrderDetail.FK_tbl_Inv_PurchaseOrderMaster_ID}}")

            <MyFieldSet legendtext="Entry Form">

                <div mycssclass="@MyCSSClassName.RowInForm">
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup4">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Product {{tbl_Inv_PurchaseOrderDetail.MeasurementUnit}}</span>
                        <MyButtonModal fieldname="tbl_Inv_PurchaseOrderDetail.FK_tbl_Inv_ProductRegistrationDetail_IDName" ng-click="OpenProductSearchModalGeneral('PurchaseOrder', tbl_Inv_PurchaseOrderDetail.FK_tbl_Inv_PurchaseOrderMaster_ID, 'tbl_Inv_PurchaseOrderDetail.FK_tbl_Inv_ProductRegistrationDetail_IDName', ProductSearch_CtrlFunction_Ref_InvokeOnSelection, null, tbl_Inv_PurchaseOrderDetail.ID); myform['tbl_Inv_PurchaseOrderDetail.FK_tbl_Inv_ProductRegistrationDetail_IDName'].$dirty=true;" ng-disabled="ng_readOnly" required></MyButtonModal>
                        <MyValidationSpan formname="myform" fieldname="tbl_Inv_PurchaseOrderDetail.FK_tbl_Inv_ProductRegistrationDetail_IDName" required="true"></MyValidationSpan>
                    </div>
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup2">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Priority</span>
                        <select id="tbl_Inv_PurchaseOrderDetail.FK_AspNetOreasPriority_ID" name="tbl_Inv_PurchaseOrderDetail.FK_AspNetOreasPriority_ID" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Select" ng-options="x.ID as x.Priority for x in AspNetOreasPriorityList" data-ng-model="tbl_Inv_PurchaseOrderDetail.FK_AspNetOreasPriority_ID" ng-disabled="ng_readOnly" required>
                            <option value="">Select Priority</option>
                        </select>
                        <MyValidationSpan formname="myform" fieldname="tbl_Inv_PurchaseOrderDetail.FK_AspNetOreasPriority_ID" required="true"></MyValidationSpan>
                    </div>
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup2">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Quantity</span>
                        <input id="tbl_Inv_PurchaseOrderDetail.QuantityAsPerSupplierUnit" name="tbl_Inv_PurchaseOrderDetail.QuantityAsPerSupplierUnit" type="number" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" ng-model="tbl_Inv_PurchaseOrderDetail.QuantityAsPerSupplierUnit" ng-pattern="wholeNumberOrNot" ng-disabled="ng_readOnly" required />
                        <MyValidationSpan formname="myform" fieldname="tbl_Inv_PurchaseOrderDetail.QuantityAsPerSupplierUnit" required="true"></MyValidationSpan>
                    </div>
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup2">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Unit</span>
                        <select id="tbl_Inv_PurchaseOrderDetail.FK_tbl_Inv_MeasurementUnit_ID_Supplier" name="tbl_Inv_PurchaseOrderDetail.FK_tbl_Inv_MeasurementUnit_ID_Supplier" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Select" ng-options="x.ID as x.MeasurementUnit for x in MeasurementUnitList" data-ng-model="tbl_Inv_PurchaseOrderDetail.FK_tbl_Inv_MeasurementUnit_ID_Supplier" ng-disabled="ng_readOnly" required>
                            <option value="">Select Unit</option>
                        </select>
                        <MyValidationSpan formname="myform" fieldname="tbl_Inv_PurchaseOrderDetail.FK_tbl_Inv_MeasurementUnit_ID_Supplier" required="true"></MyValidationSpan>
                    </div>
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup2">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Local Unit Factor</span>
                        <input id="tbl_Inv_PurchaseOrderDetail.UnitFactorToConvertInLocalUnit" name="tbl_Inv_PurchaseOrderDetail.UnitFactorToConvertInLocalUnit" type="number" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" ng-model="tbl_Inv_PurchaseOrderDetail.UnitFactorToConvertInLocalUnit" ng-disabled="ng_readOnly" min="0" required />
                        <MyValidationSpan formname="myform" fieldname="tbl_Inv_PurchaseOrderDetail.UnitFactorToConvertInLocalUnit" required="true"></MyValidationSpan>
                    </div>
                </div>

                <div mycssclass="@MyCSSClassName.RowInForm">
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup2">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Rate</span>
                        <input id="tbl_Inv_PurchaseOrderDetail.Rate" name="tbl_Inv_PurchaseOrderDetail.Rate" type="number" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" ng-model="tbl_Inv_PurchaseOrderDetail.Rate" ng-disabled="ng_readOnly" min="0" required />
                        <MyValidationSpan formname="myform" fieldname="tbl_Inv_PurchaseOrderDetail.Rate" required="true"></MyValidationSpan>
                    </div>
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup2">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Packaging</span>
                        <input type="text" id="tbl_Inv_PurchaseOrderDetail.Packaging" name="tbl_Inv_PurchaseOrderDetail.Packaging" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="Packaging" value="tbl_Inv_PurchaseOrderDetail.Packaging" ng-model="tbl_Inv_PurchaseOrderDetail.Packaging" ng-disabled="ng_readOnly" maxlength="50" />
                        <MyValidationSpan formname="myform" fieldname="tbl_Inv_PurchaseOrderDetail.Packaging" maxlength="50"></MyValidationSpan>
                    </div>
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup2">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">BatchNo</span>
                        <input type="text" id="tbl_Inv_PurchaseOrderDetail.BatchNo" name="tbl_Inv_PurchaseOrderDetail.BatchNo" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="BatchNo" value="tbl_Inv_PurchaseOrderDetail.BatchNo" ng-model="tbl_Inv_PurchaseOrderDetail.BatchNo" ng-disabled="ng_readOnly" maxlength="50" />
                        <MyValidationSpan formname="myform" fieldname="tbl_Inv_PurchaseOrderDetail.BatchNo" maxlength="50"></MyValidationSpan>
                    </div>
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup2">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Mfg Date</span>
                        <input id="tbl_Inv_PurchaseOrderDetail.MfgDate" name="tbl_Inv_PurchaseOrderDetail.MfgDate" type="date" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="{{tbl_Inv_PurchaseOrderDetail.MfgDate}}" ng-model="tbl_Inv_PurchaseOrderDetail.MfgDate" ng-disabled="ng_readOnly" />
                        <MyValidationSpan formname="myform" fieldname="tbl_Inv_PurchaseOrderDetail.MfgDate"></MyValidationSpan>
                    </div>
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup2">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Expiry Date</span>
                        <input id="tbl_Inv_PurchaseOrderDetail.ExpiryDate" name="tbl_Inv_PurchaseOrderDetail.ExpiryDate" type="date" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="{{tbl_Inv_PurchaseOrderDetail.ExpiryDate}}" ng-model="tbl_Inv_PurchaseOrderDetail.ExpiryDate" ng-disabled="ng_readOnly" />
                        <MyValidationSpan formname="myform" fieldname="tbl_Inv_PurchaseOrderDetail.ExpiryDate"></MyValidationSpan>
                    </div>
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup2">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Remarks</span>
                        <input type="text" id="tbl_Inv_PurchaseOrderDetail.Remarks" name="tbl_Inv_PurchaseOrderDetail.Remarks" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="Remarks" value="tbl_Inv_PurchaseOrderDetail.Remarks" ng-model="tbl_Inv_PurchaseOrderDetail.Remarks" ng-disabled="ng_readOnly" maxlength="50" />
                        <MyValidationSpan formname="myform" fieldname="tbl_Inv_PurchaseOrderDetail.Remarks" maxlength="50"></MyValidationSpan>
                    </div>
                </div>

                <div mycssclass="@MyCSSClassName.RowInForm">
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup2">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Status</span>
                        <select id="tbl_Inv_PurchaseOrderDetail.ClosedTrue_OpenFalse" name="tbl_Inv_PurchaseOrderDetail.ClosedTrue_OpenFalse" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Select" ng-options="o.v as o.n for o in [{ n: 'Closed', v: true }, { n: 'Open', v: false }]" data-ng-model="tbl_Inv_PurchaseOrderDetail.ClosedTrue_OpenFalse" ng-disabled="ng_readOnly" required>
                            <option value="">Select Status</option>
                        </select>
                        <MyValidationSpan formname="myform" fieldname="tbl_Inv_PurchaseOrderDetail.ClosedTrue_OpenFalse" required="true"></MyValidationSpan>
                    </div>
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup2">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Received Qty</span>
                        <input id="tbl_Inv_PurchaseOrderDetail.ReceivedQty" name="tbl_Inv_PurchaseOrderDetail.ReceivedQty" type="number" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" ng-model="tbl_Inv_PurchaseOrderDetail.ReceivedQty" ng-pattern="wholeNumberOrNot" ng-disabled="ng_readOnly" min="0" readonly required />
                        <MyValidationSpan formname="myform" fieldname="tbl_Inv_PurchaseOrderDetail.ReceivedQty" required="true"></MyValidationSpan>
                    </div>
                </div>

                <div mycssclass="@MyCSSClassName.RowInForm">
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroupSubmit">
                        <input type="submit" value="{{ng_entryPanelSubmitBtnText}}" mycssclass="@MyCSSClassName.RowInForm_FormGroupSubmit_btn" ng-disabled="myform.$invalid || ng_DisabledBtnAll" />
                    </div>
                </div>

                <MyFieldSet legendtext="User" child="true">
                    <div mycssclass="@MyCSSClassName.RowInForm">
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Created by</span>
                            <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_Inv_PurchaseOrderDetail.CreatedBy}}" ng-model="tbl_Inv_PurchaseOrderDetail.CreatedBy" disabled />
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Created Date</span>
                            <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_Inv_PurchaseOrderDetail.CreatedDate | date :  'dd-MMM-yyyy HH:mm:ss a'}}" ng-model="tbl_Inv_PurchaseOrderDetail.CreatedDate" disabled />
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Modified by</span>
                            <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_Inv_PurchaseOrderDetail.ModifiedBy}}" ng-model="tbl_Inv_PurchaseOrderDetail.ModifiedBy" disabled />
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Modified Date</span>
                            <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_Inv_PurchaseOrderDetail.ModifiedDate | date :  'dd-MMM-yyyy HH:mm:ss a'}}" ng-model="tbl_Inv_PurchaseOrderDetail.ModifiedDate" disabled />
                        </div>
                    </div>
                </MyFieldSet>
            </MyFieldSet>
        </form>
    </div>

    @*-----------------------------------this is data list view-----------------------------*@
    <div mycssclass="@MyCSSClassName.Table_Div">
        <table mycssclass="@MyCSSClassName.Table_Table">
            <tr>
                <th>
                    Product Name
                    <br />
                    Priority
                </th>
                <th>
                    PO Qty
                    <br />
                    Local Qty
                </th>
                <th>
                    Rate
                    <br />
                    Amount
                </th>
                <th>
                    Packaging
                    <br />
                    BatchNo
                </th>
                <th>
                    Mfg Date
                    <br />
                    Expiry Date
                </th>
                <th>
                    Received Qty
                    <br />
                    Receiving Count
                </th>
                <th>
                    Status
                </th>
                <th></th>
            </tr>
            <tr ng-repeat="itm in pageddata.Data">
                <td>
                    <b>{{itm.FK_tbl_Inv_ProductRegistrationDetail_IDName}}</b>
                    <br />
                    {{itm.FK_AspNetOreasPriority_IDName}}
                </td>
                <td>
                    <b>{{itm.QuantityAsPerSupplierUnit}} {{itm.FK_tbl_Inv_MeasurementUnit_ID_SupplierName}}</b> x {{itm.UnitFactorToConvertInLocalUnit}}
                    <br />
                    {{itm.Quantity}} {{itm.MeasurementUnit}}
                </td>
                <td>
                    <b>{{itm.Rate}}</b>
                    <br />
                    {{itm.NetAmount}}
                </td>
                <td>
                    <b>{{itm.Packaging}}</b>
                    <br />
                    {{itm.BatchNo}}
                </td>
                <td>
                    <b>{{itm.MfgDate}}</b>
                    <br />
                    {{itm.ExpiryDate}}
                </td>
                <td>
                    {{itm.ReceivedQty}}
                    <br />
                    {{itm.TotalReceivings}}
                </td>
                <td>
                    <span>PO Status <i ng-class="itm.ClosedTrue_OpenFalse === true ? 'fa fa-lock' : 'fa fa-lock-open'" ng-style="{'color': itm.ClosedTrue_OpenFalse === true ? 'Green' : 'Red', 'font-size': 'large'}"></i> </span>
                    <br />
                    <span>Supervised  <i class="fa fa-lightbulb" ng-style="{'color': itm.IsSupervised === true ? 'Green' : 'Red', 'font-size': 'large'}"></i> </span>
                </td>
                <td>
                    <div mycssclass="@MyCSSClassName.Table_OptColDiv">
                        <MyButton operation="@MyButtonOperation.View" ng-click="GetRow(itm.ID,'View')"></MyButton>|
                        <MyButton operation="@MyButtonOperation.Edit" ng-click="GetRow(itm.ID,'Edit')"></MyButton>|
                        <MyButton operation="@MyButtonOperation.Delete" ng-click="GetRow(itm.ID,'Delete')"></MyButton>
                    </div>
                    <div mycssclass="@MyCSSClassName.Table_OptColDiv">
                        <button ng-click="itm['MasterObject']=MasterObject; DivHideShow('PurchaseOrderDetailPNCtlr',itm,'PurchaseOrderImportDetailCtlr','PurchaseOrderDetailPNCtlr', null);" mycssclass="@MyCSSClassName.Table_OperationBtn" title="Goto Purchase Note">Purchase <span class="fa fa-cart-shopping"></span></button>
                        <button ng-click="itm['MasterObject']=MasterObject; DivHideShow('PurchaseOrderDetailPRNCtlr',itm,'PurchaseOrderImportDetailCtlr','PurchaseOrderDetailPRNCtlr', null);" mycssclass="@MyCSSClassName.Table_OperationBtn" title="Goto Purchase Return Note">Return <span class="fa fa-cart-arrow-down"></span></button>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="8">
                    <div mycssclass="@MyCSSClassName.Table_NavDiv">
                        <MyButton operation="@MyButtonOperation.first" ng-click="pageNavigation('first')" ng-disabled="ng_DisabledBtnPageF"></MyButton>
                        <MyButton operation="@MyButtonOperation.back" ng-click="pageNavigation('back')" ng-disabled="ng_DisabledBtnPageP"></MyButton>
                        <MyButton operation="@MyButtonOperation.RecordNo" ng-click="pageNavigation('back')" ng-disabled="ng_DisabledBtnPageP">{{pageddata.CurrentPage}} of {{pageddata.TotalPages}}</MyButton>
                        <MyButton operation="@MyButtonOperation.next" ng-click="pageNavigation('next')" ng-disabled="ng_DisabledBtnPageN"></MyButton>
                        <MyButton operation="@MyButtonOperation.last" ng-click="pageNavigation('last')" ng-disabled="ng_DisabledBtnPageL"></MyButton>
                    </div>
                </td>
            </tr>

        </table>
    </div>
    @*-----------------------------------this is search view-----------------------------*@
    @await Html.PartialAsync("_Filter", "PurchaseOrderImportDetailCtlr")
    @await Html.PartialAsync("_ReportPanelGeneral")

</div>
