<MyViewName>
    <a href="" ng-click="DivHideShow(null,null,'LoanDetailEmployeeCtlr','LoanIndexCtlr', this);">Loan</a>
    <MyViewName child="true"> Employee</MyViewName>
</MyViewName>

<div>
    <div>
        <div mycssclass="@MyCSSClassName.Table_DivSubPage">
            <table mycssclass="@MyCSSClassName.Table_TableSubPage">
                <tr>
                    <th>
                        Doc No
                    </th>
                    <th>
                        Doc Date
                    </th>
                    <th>
                        Loan Type
                    </th>
                </tr>
                <tr>
                    <td>
                        <b>{{MasterObject.DocNo}}</b>
                    </td>
                    <td>
                        <b>{{MasterObject.DocDate}}</b>
                    </td>
                    <td style="background-color:lightsteelblue;">
                        <b>{{MasterObject.FK_tbl_WPT_LoanType_IDName}}</b>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                    </td>
                </tr>
            </table>
        </div>
    </div>

    @*-----------------------------------this is entry panel-----------------------------*@

    <MyButton operation="@MyButtonOperation.Add"></MyButton>
    <div class="form-check form-switch d-inline-block" ng-hide="!Privilege.CanAdd">
        <input class="form-check-input m-1" type="checkbox" role="switch" style="font-size:larger;" id="bulkAdd" ng-model="AddBulk" ng-disabled="ng_entryPanelBtnText!='Add New'">
        <label class="form-check-label" for="bulkAdd">Bulk Add</label>
    </div>
    <div ng-hide="ng_entryPanelHide">
        <form name="myform" role="form" ng-submit="PostRow(); myform.$setPristine();" novalidate="">
            @Html.Hidden("tbl_WPT_LoanDetail.ID", "{{tbl_WPT_LoanDetail.ID}}")
            @Html.Hidden("tbl_WPT_LoanDetail.FK_tbl_WPT_LoanMaster_ID", "{{tbl_WPT_LoanDetail.FK_tbl_WPT_LoanMaster_ID}}")
            <MyFieldSet legendtext="Entry Form">

                <div mycssclass="@MyCSSClassName.RowInForm">
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Employee</span>
                        <MyButtonModal fieldname="tbl_WPT_LoanDetail.FK_tbl_WPT_Employee_IDName" ng-click="OpenEmployeeSearchModalGeneral('General', 0, 'tbl_WPT_LoanDetail.FK_tbl_WPT_Employee_IDName', EmployeeSearch_CtrlFunction_Ref_InvokeOnSelection);myform['tbl_WPT_LoanDetail.FK_tbl_WPT_Employee_IDName'].$dirty=true;" ng-disabled="ng_readOnly || AddBulk" ng-required="!AddBulk"></MyButtonModal>
                        <MyValidationSpan formname="myform" fieldname="tbl_WPT_LoanDetail.FK_tbl_WPT_Employee_IDName" required="true"></MyValidationSpan>
                    </div>
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Loan Amount</span>
                        <input id="tbl_WPT_LoanDetail.Amount" name="tbl_WPT_LoanDetail.Amount" type="number" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" ng-model="tbl_WPT_LoanDetail.Amount" ng-disabled="ng_readOnly" min="0" required />
                        <MyValidationSpan formname="myform" fieldname="tbl_WPT_LoanDetail.Amount" required="true"></MyValidationSpan>
                    </div>
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Installment Rate</span>
                        <input id="tbl_WPT_LoanDetail.InstallmentRate" name="tbl_WPT_LoanDetail.InstallmentRate" type="number" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" ng-model="tbl_WPT_LoanDetail.InstallmentRate" ng-disabled="ng_readOnly" min="0" required />
                        <MyValidationSpan formname="myform" fieldname="tbl_WPT_LoanDetail.InstallmentRate" required="true"></MyValidationSpan>
                    </div>
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Effective From</span>
                        <input id="tbl_WPT_LoanDetail.EffectiveFrom" name="tbl_WPT_LoanDetail.EffectiveFrom" type="date" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="{{tbl_WPT_LoanDetail.EffectiveFrom}}" ng-model="tbl_WPT_LoanDetail.EffectiveFrom" ng-disabled="ng_readOnly" required />
                        <MyValidationSpan formname="myform" fieldname="tbl_WPT_LoanDetail.EffectiveFrom" required="true"></MyValidationSpan>
                    </div>
                </div>

                <div mycssclass="@MyCSSClassName.RowInForm">
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Receiving Date</span>
                        <input id="tbl_WPT_LoanDetail.ReceivingDate" name="tbl_WPT_LoanDetail.ReceivingDate" type="date" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="{{tbl_WPT_LoanDetail.ReceivingDate}}" ng-model="tbl_WPT_LoanDetail.ReceivingDate" ng-disabled="ng_readOnly" required />
                        <MyValidationSpan formname="myform" fieldname="tbl_WPT_LoanDetail.ReceivingDate" required="true"></MyValidationSpan>
                    </div>
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Remarks</span>
                        <input id="tbl_WPT_LoanDetail.Remarks" name="tbl_WPT_LoanDetail.Remarks" type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="...." value="tbl_WPT_LoanDetail.Remarks" ng-model="tbl_WPT_LoanDetail.Remarks" ng-disabled="ng_readOnly" maxlength="50" />
                        <MyValidationSpan formname="myform" fieldname="tbl_WPT_LoanDetail.Remarks" maxlength="50"></MyValidationSpan>
                    </div>
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Balance</span>
                        <input id="tbl_WPT_LoanDetail.Balance" name="tbl_WPT_LoanDetail.Balance" type="number" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" ng-model="tbl_WPT_LoanDetail.Balance" ng-disabled="ng_readOnly" readonly />
                    </div>
                </div>

                <div mycssclass="@MyCSSClassName.RowInForm" ng-hide="!AddBulk">
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Designation</span>
                        <select id="FK_tbl_WPT_Designation_ID" name="FK_tbl_WPT_Designation_ID" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Select" ng-options="x.ID as x.Designation for x in DesignationList" data-ng-model="FK_tbl_WPT_Designation_ID" ng-disabled="ng_readOnly">
                            <option value="">Select Designation</option>
                        </select>
                        <MyValidationSpan formname="myform" fieldname="FK_tbl_WPT_Designation_ID"></MyValidationSpan>
                    </div>
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Department</span>
                        <select id="FK_tbl_WPT_Department_ID" name="FK_tbl_WPT_Department_ID" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Select" ng-options="x.ID as x.DepartmentName for x in DepartmentList" data-ng-model="FK_tbl_WPT_Department_ID" ng-disabled="ng_readOnly">
                            <option value="">Select Department</option>
                        </select>
                        <MyValidationSpan formname="myform" fieldname="FK_tbl_WPT_Department_ID"></MyValidationSpan>
                    </div>
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Joining Date Till</span>
                        <input id="JoiningDateTill" name="JoiningDateTill" type="date" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="{{JoiningDateTill}}" ng-model="JoiningDateTill" ng-change="JoiningDateTillChange();" ng-disabled="ng_readOnly" ng-required="AddBulk" />
                        <MyValidationSpan formname="myform" fieldname="JoiningDateTill" required="true"></MyValidationSpan>
                    </div>
                </div>

                <div mycssclass="@MyCSSClassName.RowInForm">
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroupSubmit">
                        <input type="submit" value="{{ng_entryPanelSubmitBtnText}}" mycssclass="@MyCSSClassName.RowInForm_FormGroupSubmit_btn" ng-disabled="myform.$invalid || ng_DisabledBtnAll" />
                    </div>
                </div>

                <MyFieldSet legendtext="User" child="true">
                    <div mycssclass="@MyCSSClassName.RowInForm">
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Created by</span>
                            <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_WPT_LoanDetail.CreatedBy}}" ng-model="tbl_WPT_LoanDetail.CreatedBy" disabled />
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Created Date</span>
                            <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_WPT_LoanDetail.CreatedDate | date :  'dd-MMM-yyyy HH:mm:ss a'}}" ng-model="tbl_WPT_LoanDetail.CreatedDate" disabled />
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Modified by</span>
                            <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_WPT_LoanDetail.ModifiedBy}}" ng-model="tbl_WPT_LoanDetail.ModifiedBy" disabled />
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Modified Date</span>
                            <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_WPT_LoanDetail.ModifiedDate | date :  'dd-MMM-yyyy HH:mm:ss a'}}" ng-model="tbl_WPT_LoanDetail.ModifiedDate" disabled />
                        </div>
                    </div>
                </MyFieldSet>
            </MyFieldSet>
        </form>
    </div>

    @*-----------------------------------this is data list view-----------------------------*@
    <div mycssclass="@MyCSSClassName.Table_Div">
        <table mycssclass="@MyCSSClassName.Table_Table">
            <tr>
                <th>
                    Employee Name
                </th>
                <th>
                    Loan
                </th>
                <th>
                    Balance
                </th>
                <th>
                    Rate
                </th>
                <th>
                    Effective Date
                </th>
                <th>
                    Receiving Date
                </th>
                <td>
                    Completed
                </td>
                <th></th>
            </tr>
            <tr ng-repeat="itm in pageddata.Data">
                <td>
                    {{itm.FK_tbl_WPT_Employee_IDName}}
                </td>
                <td>
                    {{itm.Amount}}
                </td>
                <td>
                    {{itm.Balance}}
                </td>
                <td>
                    {{itm.InstallmentRate}}
                </td>
                <td>
                    {{itm.EffectiveFrom}}
                </td>
                <td>
                    {{itm.ReceivingDate}}
                </td>
                <td>
                    {{itm.IsCompleted ? 'Yes' : 'No'}}
                </td>
                <td>
                    <div mycssclass="@MyCSSClassName.Table_OptColDiv">
                        <MyButton operation="@MyButtonOperation.View" ng-click="GetRow(itm.ID,'View')"></MyButton>|
                        <MyButton operation="@MyButtonOperation.Edit" ng-click="GetRow(itm.ID,'Edit')"></MyButton>|
                        <MyButton operation="@MyButtonOperation.Delete" ng-click="GetRow(itm.ID,'Delete')"></MyButton>
                    </div>
                    <div mycssclass="@MyCSSClassName.Table_OptColDiv">
                        <a href="#" ng-click="GotoReport(itm.ID)"><i class="fa fa-area-chart"></i></a>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="8">
                    <div mycssclass="@MyCSSClassName.Table_NavDiv">
                        <MyButton operation="@MyButtonOperation.first" ng-click="pageNavigation('first')" ng-disabled="ng_DisabledBtnPageF"></MyButton>
                        <MyButton operation="@MyButtonOperation.back" ng-click="pageNavigation('back')" ng-disabled="ng_DisabledBtnPageP"></MyButton>
                        <MyButton operation="@MyButtonOperation.RecordNo" ng-click="pageNavigation('back')" ng-disabled="ng_DisabledBtnPageP">{{pageddata.CurrentPage}} of {{pageddata.TotalPages}}</MyButton>
                        <MyButton operation="@MyButtonOperation.next" ng-click="pageNavigation('next')" ng-disabled="ng_DisabledBtnPageN"></MyButton>
                        <MyButton operation="@MyButtonOperation.last" ng-click="pageNavigation('last')" ng-disabled="ng_DisabledBtnPageL"></MyButton>
                    </div>
                </td>
            </tr>

        </table>
    </div>
    @*-----------------------------------this is search view-----------------------------*@
    @await Html.PartialAsync("_Filter", "LoanDetailEmployeeCtlr")
    @await Html.PartialAsync("_ReportPanelGeneral")
    @*-----------------------------------Excel Upload-----------------------------*@
    <div>
        <table class="table">
            <tr>
                <td>
                    <input type="file" id="UploadExcelFile" name="UploadExcelFile" ng-disabled="!Privilege.CanAdd" onchange="angular.element(this).scope().LoadFileData(this.files)" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" class="btn btn-block" />
                </td>
                <td>
                    Excel Format
                </td>
                <td>

                    <table border="1">
                        <tr style="border:1px solid black;">
                            <th style="border:1px solid black;">&nbsp;&nbsp; ATNo &nbsp;&nbsp;</th>
                            <th style="border:1px solid black;">&nbsp; Amount &nbsp;</th>
                            <th style="border:1px solid black;">&nbsp;&nbsp; Rate &nbsp;&nbsp;</th>
                            <th style="border:1px solid black;">&nbsp;&nbsp; Effective Date &nbsp;&nbsp;</th>
                            <th style="border:1px solid black;">&nbsp;&nbsp; Receiving Date &nbsp;&nbsp;</th>
                        </tr>
                        <tr>
                            <td style="border:1px solid black;">WF101</td>
                            <td style="border: 1px solid black; text-align: right;">10000</td>
                            <td style="border: 1px solid black; text-align: right;">2500</td>
                            <td style="border: 1px solid black; text-align: center;">29-12-2000</td>
                            <td style="border:1px solid black; text-align:center;">29-12-2000</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>



    </div>


</div>
