<MyViewName>
    <a href="" ng-click="DivHideShow(null,null,'LoanDetailPaymentCtlr','LoanIndexCtlr', this);">Loan</a>
    <MyViewName child="true"> Payment</MyViewName>
</MyViewName>

<div>
    <div>
        <div mycssclass="@MyCSSClassName.Table_DivSubPage">
            <table mycssclass="@MyCSSClassName.Table_TableSubPage">
                <tr>
                    <th>
                        Month
                    </th>
                    <th>
                        Loan Type
                    </th>
                    <th>
                        Remarks
                    </th>
                </tr>
                <tr>
                    <td>
                        <b>{{MasterObject.FK_tbl_WPT_CalendarYear_Months_IDName}}</b>
                    </td>
                    <td>
                        <b>{{MasterObject.FK_tbl_WPT_LoanType_IDName}}</b>
                    </td>
                    <td>
                        {{MasterObject.Remarks}}
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                    </td>
                </tr>
            </table>
        </div>
    </div>

    @*-----------------------------------this is entry panel-----------------------------*@
    <MyButton operation="@MyButtonOperation.Add"></MyButton>
    <div ng-hide="ng_entryPanelHide">
        <form name="myform" role="form" ng-submit="PostRow(); myform.$setPristine();" novalidate="">
            @Html.Hidden("tbl_WPT_LoanDetail_Payment.ID", "{{tbl_WPT_LoanDetail_Payment.ID}}")
            @Html.Hidden("tbl_WPT_LoanDetail_Payment.FK_tbl_WPT_LoanMaster_ID", "{{tbl_WPT_LoanDetail_Payment.FK_tbl_WPT_LoanMaster_ID}}")
            <MyFieldSet legendtext="Entry Form">
                <div mycssclass="@MyCSSClassName.RowInForm">
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup4">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Company A/c</span>
                        <select id="tbl_WPT_LoanDetail_Payment.FK_tbl_WPT_CompanyBankDetail_ID" name="tbl_WPT_LoanDetail_Payment.FK_tbl_WPT_CompanyBankDetail_ID" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Select" ng-options="x.ID as x.BankAc for x in CompanyBankAcList" data-ng-model="tbl_WPT_LoanDetail_Payment.FK_tbl_WPT_CompanyBankDetail_ID" ng-disabled="ng_readOnly || ng_readOnlyOnEdit" required>
                            <option value="">Select Back Account</option>
                        </select>
                        <MyValidationSpan formname="myform" fieldname="tbl_WPT_LoanDetail_Payment.FK_tbl_WPT_CompanyBankDetail_ID" required="true"></MyValidationSpan>
                    </div>
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup4">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Transaction Mode</span>
                        <select id="tbl_WPT_LoanDetail_Payment.FK_tbl_WPT_TransactionMode_ID" name="tbl_WPT_LoanDetail_Payment.FK_tbl_WPT_TransactionMode_ID" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Select" ng-options="x.ID as x.TransactionMode for x in TransactionModeList" data-ng-model="tbl_WPT_LoanDetail_Payment.FK_tbl_WPT_TransactionMode_ID" ng-disabled="ng_readOnly || ng_readOnlyOnEdit" required>
                            <option value="">Select Transaction Mode</option>
                        </select>
                        <MyValidationSpan formname="myform" fieldname="tbl_WPT_LoanDetail_Payment.FK_tbl_WPT_TransactionMode_ID" required="true"></MyValidationSpan>
                    </div>
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup4">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Transaction Date</span>
                        <input id="tbl_WPT_LoanDetail_Payment.TransactionDate" name="tbl_WPT_LoanDetail_Payment.TransactionDate" type="date" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="{{tbl_WPT_LoanDetail_Payment.TransactionDate}}" ng-model="tbl_WPT_LoanDetail_Payment.TransactionDate" ng-disabled="ng_readOnly" required />
                        <MyValidationSpan formname="myform" fieldname="tbl_WPT_LoanDetail_Payment.TransactionDate" required="true"></MyValidationSpan>
                    </div>
                </div>
                <div mycssclass="@MyCSSClassName.RowInForm">
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup4">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Instrument No</span>
                        <input id="tbl_WPT_LoanDetail_Payment.InstrumentNo" name="tbl_WPT_LoanDetail_Payment.InstrumentNo" type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="e.g Cheque No" value="tbl_WPT_LoanDetail_Payment.InstrumentNo" ng-model="tbl_WPT_LoanDetail_Payment.InstrumentNo" ng-disabled="ng_readOnly" maxlength="50" />
                        <MyValidationSpan formname="myform" fieldname="tbl_WPT_LoanDetail_Payment.InstrumentNo" maxlength="50"></MyValidationSpan>
                    </div>
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup4">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Remarks</span>
                        <input id="tbl_WPT_LoanDetail_Payment.Remarks" name="tbl_WPT_LoanDetail_Payment.Remarks" type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" placeholder="...." value="tbl_WPT_LoanDetail_Payment.Remarks" ng-model="tbl_WPT_LoanDetail_Payment.Remarks" ng-disabled="ng_readOnly" maxlength="50" />
                        <MyValidationSpan formname="myform" fieldname="tbl_WPT_LoanDetail_Payment.Remarks" maxlength="50"></MyValidationSpan>
                    </div>
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup4">

                    </div>
                </div>

                <div mycssclass="@MyCSSClassName.RowInForm">
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroupSubmit">
                        <input type="submit" value="{{ng_entryPanelSubmitBtnText}}" mycssclass="@MyCSSClassName.RowInForm_FormGroupSubmit_btn" ng-disabled="myform.$invalid || ng_DisabledBtnAll" />
                    </div>
                </div>

                <MyFieldSet legendtext="User" child="true">
                    <div mycssclass="@MyCSSClassName.RowInForm">
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Created by</span>
                            <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_WPT_LoanDetail_Payment.CreatedBy}}" ng-model="tbl_WPT_LoanDetail_Payment.CreatedBy" disabled />
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Created Date</span>
                            <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_WPT_LoanDetail_Payment.CreatedDate | date :  'dd-MMM-yyyy HH:mm:ss a'}}" ng-model="tbl_WPT_LoanDetail_Payment.CreatedDate" disabled />
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Modified by</span>
                            <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_WPT_LoanDetail_Payment.ModifiedBy}}" ng-model="tbl_WPT_LoanDetail_Payment.ModifiedBy" disabled />
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Modified Date</span>
                            <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_WPT_LoanDetail_Payment.ModifiedDate | date :  'dd-MMM-yyyy HH:mm:ss a'}}" ng-model="tbl_WPT_LoanDetail_Payment.ModifiedDate" disabled />
                        </div>
                    </div>
                </MyFieldSet>

            </MyFieldSet>
        </form>
    </div>

    @*-----------------------------------this is data list view-----------------------------*@
    <div mycssclass="@MyCSSClassName.Table_Div">
        <table mycssclass="@MyCSSClassName.Table_Table">
            <tr>
                <th>
                    Bank A/c
                </th>
                <th>
                    Transaction Mode
                </th>
                <th>
                    Instrument No
                </th>
                <th>
                    Transaction Date
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Remarks
                </th>
                <th></th>
            </tr>
            <tr ng-repeat="itm in pageddata.Data">
                <td>
                    {{itm.FK_tbl_WPT_CompanyBankDetail_IDName}}
                </td>
                <td>
                    {{itm.FK_tbl_WPT_TransactionMode_IDName}}
                </td>
                <td>
                    {{itm.InstrumentNo}}
                </td>
                <td>
                    {{itm.TransactionDate}}
                </td>
                <td>
                    {{itm.Amount}}
                </td>
                <td>
                    {{itm.Remarks}}
                </td>
                <td>
                    <div mycssclass="@MyCSSClassName.Table_OptColDiv">
                        <MyButton operation="@MyButtonOperation.View" ng-click="GetRow(itm.ID,'View')"></MyButton>|
                        <MyButton operation="@MyButtonOperation.Edit" ng-click="GetRow(itm.ID,'Edit')"></MyButton>|
                        <MyButton operation="@MyButtonOperation.Delete" ng-click="GetRow(itm.ID,'Delete')"></MyButton>
                    </div>
                    <div mycssclass="@MyCSSClassName.Table_OptColDiv">
                        <button ng-click="itm['MasterObject']=MasterObject; DivHideShow('LoanDetailPaymentEmployeeCtlr',itm,'LoanDetailPaymentCtlr','LoanDetailPaymentEmployeeCtlr', null);" mycssclass="@MyCSSClassName.Table_OperationBtn" title="Goto Employee">Employee<span class="fa fa-user"></span></button>                        
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="7">
                    <div mycssclass="@MyCSSClassName.Table_NavDiv">
                        <MyButton operation="@MyButtonOperation.first" ng-click="pageNavigation('first')" ng-disabled="ng_DisabledBtnPageF"></MyButton>
                        <MyButton operation="@MyButtonOperation.back" ng-click="pageNavigation('back')" ng-disabled="ng_DisabledBtnPageP"></MyButton>
                        <MyButton operation="@MyButtonOperation.RecordNo" ng-click="pageNavigation('back')" ng-disabled="ng_DisabledBtnPageP">{{pageddata.CurrentPage}} of {{pageddata.TotalPages}}</MyButton>
                        <MyButton operation="@MyButtonOperation.next" ng-click="pageNavigation('next')" ng-disabled="ng_DisabledBtnPageN"></MyButton>
                        <MyButton operation="@MyButtonOperation.last" ng-click="pageNavigation('last')" ng-disabled="ng_DisabledBtnPageL"></MyButton>
                    </div>
                </td>
            </tr>

        </table>
    </div>
    @*-----------------------------------this is search view-----------------------------*@
    @await Html.PartialAsync("_Filter", "LoanDetailPaymentCtlr")

</div>
