<MyViewName>
    <a href="" ng-click="DivHideShow(null,null,'CalendarEmployeeForPLCtlr','CalendarIndexCtlr', this);">Calendar</a>
    <MyViewName child="true"> Employee For Paid Leaves</MyViewName>
</MyViewName>
<div>
    <div>
        <div mycssclass="@MyCSSClassName.Table_DivSubPage">
            <table mycssclass="@MyCSSClassName.Table_TableSubPage">
                <tr>
                    <th>
                        Calendar Year
                    </th>
                </tr>
                <tr>
                    <td>
                        <b>{{MasterObject.CalendarStartYear}} <span style="font-size:small">{{MasterObject.CalendarStartMonthSName}}</span> - {{MasterObject.CalendarEndYear}} <span style="font-size:small">{{MasterObject.CalendarEndMonthName}}</span></b>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                    </td>
                </tr>
            </table>
        </div>
    </div>

    @*-----------------------------------this is entry panel-----------------------------*@
    <MyButton operation="@MyButtonOperation.Add"></MyButton>
    <div ng-hide="ng_entryPanelHide">
        <form name="myform" role="form" ng-submit="PostRow(); myform.$setPristine();" novalidate="">
            @Html.Hidden("tbl_WPT_CalendarYear_LeaveEmps.ID", "{{tbl_WPT_CalendarYear_LeaveEmps.ID}}")
            @Html.Hidden("tbl_WPT_CalendarYear_LeaveEmps.FK_tbl_WPT_CalendarYear_ID", "{{tbl_WPT_CalendarYear_LeaveEmps.FK_tbl_WPT_CalendarYear_ID}}")

            <MyFieldSet legendtext="Entry Form">
                <div mycssclass="@MyCSSClassName.RowInForm">
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup4">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Employee</span>
                        <MyButtonModal fieldname="tbl_WPT_CalendarYear_LeaveEmps.FK_tbl_WPT_Employee_IDName" ng-click="OpenEmployeeSearchModalGeneral('General', 0, 'tbl_WPT_CalendarYear_LeaveEmps.FK_tbl_WPT_Employee_IDName', EmployeeSearch_CtrlFunction_Ref_InvokeOnSelection);myform['tbl_WPT_CalendarYear_LeaveEmps.FK_tbl_WPT_Employee_IDName'].$dirty=true;" ng-disabled="ng_readOnly" required></MyButtonModal>
                        <MyValidationSpan formname="myform" fieldname="tbl_WPT_CalendarYear_LeaveEmps.FK_tbl_WPT_Employee_IDName" required="true"></MyValidationSpan>
                    </div>
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup4">
                        <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label_Req">Open / Closed</span>
                        <select id="tbl_WPT_CalendarYear_LeaveEmps.IsClosed" name="tbl_WPT_CalendarYear_LeaveEmps.IsClosed" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Select" ng-options="o.v as o.n for o in [{ n: 'Closed', v: true }, { n: 'Open', v: false }]" data-ng-model="tbl_WPT_CalendarYear_LeaveEmps.IsClosed" ng-disabled="ng_readOnly" required>
                        </select>
                        <MyValidationSpan formname="myform" fieldname="tbl_WPT_CalendarYear_LeaveEmps.IsClosed" required="true"></MyValidationSpan>
                    </div>
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroup4">

                    </div>
                </div>

                <div mycssclass="@MyCSSClassName.RowInForm">
                    <div mycssclass="@MyCSSClassName.RowInForm_FormGroupSubmit">
                        <input type="submit" value="{{ng_entryPanelSubmitBtnText}}" mycssclass="@MyCSSClassName.RowInForm_FormGroupSubmit_btn" ng-disabled="myform.$invalid || ng_DisabledBtnAll" />
                    </div>
                </div>

                <MyFieldSet legendtext="User" child="true">
                    <div mycssclass="@MyCSSClassName.RowInForm">
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Created by</span>
                            <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_WPT_CalendarYear_LeaveEmps.CreatedBy}}" ng-model="tbl_WPT_CalendarYear_LeaveEmps.CreatedBy" disabled />
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Created Date</span>
                            <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_WPT_CalendarYear_LeaveEmps.CreatedDate | date :  'dd-MMM-yyyy HH:mm:ss a'}}" ng-model="tbl_WPT_CalendarYear_LeaveEmps.CreatedDate" disabled />
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Modified by</span>
                            <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_WPT_CalendarYear_LeaveEmps.ModifiedBy}}" ng-model="tbl_WPT_CalendarYear_LeaveEmps.ModifiedBy" disabled />
                        </div>
                        <div mycssclass="@MyCSSClassName.RowInForm_FormGroup3">
                            <span mycssclass="@MyCSSClassName.RowInForm_FormGroup_Label">Modified Date</span>
                            <input type="text" mycssclass="@MyCSSClassName.RowInForm_FormGroup_Input" value="{{tbl_WPT_CalendarYear_LeaveEmps.ModifiedDate | date :  'dd-MMM-yyyy HH:mm:ss a'}}" ng-model="tbl_WPT_CalendarYear_LeaveEmps.ModifiedDate" disabled />
                        </div>
                    </div>
                </MyFieldSet>
            </MyFieldSet>
        </form>
    </div>
    @*-----------------------------------this is data list view-----------------------------*@
    <div mycssclass="@MyCSSClassName.Table_Div">
        <table mycssclass="@MyCSSClassName.Table_Table">
            <tr>
                <th>
                    Employee
                </th>
                <th>
                    Leave Count
                </th>
                <th>
                    Top Leave Name
                </th>
                <th>
                    Top Leave Opening
                </th>
                <th>
                    Open / Closed
                </th>
                <th></th>
            </tr>
            <tr ng-repeat="itm in pageddata.Data">
                <td>
                    {{itm.FK_tbl_WPT_Employee_IDName}}
                </td>
                <td>
                    {{itm.LeaveCount}}
                </td>
                <td>
                    {{itm.TopLeaveName}}
                </td>
                <td>
                    {{itm.TopLeaveOpening}}
                </td>
                <td>
                    {{itm.IsClosed?'Closed':'Open'}}
                </td>
                <td>
                    <div mycssclass="@MyCSSClassName.Table_OptColDiv">
                        <MyButton operation="@MyButtonOperation.View" ng-click="GetRow(itm.ID,'View')"></MyButton>|
                        <MyButton operation="@MyButtonOperation.Edit" ng-click="GetRow(itm.ID,'Edit')"></MyButton>|
                        <MyButton operation="@MyButtonOperation.Delete" ng-click="GetRow(itm.ID,'Delete')"></MyButton>
                    </div>
                    <div mycssclass="@MyCSSClassName.Table_OptColDiv">
                        <button ng-click="itm['MasterObject']=MasterObject; DivHideShow('CalendarPLOfEmployeeCtlr',itm,'CalendarEmployeeForPLCtlr','CalendarPLOfEmployeeCtlr', null);" mycssclass="@MyCSSClassName.Table_OperationBtn" title="Goto Paid Leaves">Paid Leaves <span class="fa fa-home"></span></button>|
                        <a href="#" ng-click="GotoReport(itm.ID)"><i class="fa fa-area-chart"></i></a>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    <div mycssclass="@MyCSSClassName.Table_NavDiv">
                        <MyButton operation="@MyButtonOperation.first" ng-click="pageNavigation('first')" ng-disabled="ng_DisabledBtnPageF"></MyButton>
                        <MyButton operation="@MyButtonOperation.back" ng-click="pageNavigation('back')" ng-disabled="ng_DisabledBtnPageP"></MyButton>
                        <MyButton operation="@MyButtonOperation.RecordNo" ng-click="pageNavigation('back')" ng-disabled="ng_DisabledBtnPageP">{{pageddata.CurrentPage}} of {{pageddata.TotalPages}}</MyButton>
                        <MyButton operation="@MyButtonOperation.next" ng-click="pageNavigation('next')" ng-disabled="ng_DisabledBtnPageN"></MyButton>
                        <MyButton operation="@MyButtonOperation.last" ng-click="pageNavigation('last')" ng-disabled="ng_DisabledBtnPageL"></MyButton>
                    </div>
                </td>
            </tr>

        </table>
    </div>
    @*-----------------------------------this is search view-----------------------------*@
    @await Html.PartialAsync("_Filter", "CalendarEmployeeForPLCtlr")
    @await Html.PartialAsync("_ReportPanelGeneral")
</div>
